@import "./theme.scss";
@import "./dialog.scss";
@import "./snack_bar.scss";
@import "./sheet.scss";
@import "./gamepad.scss";



.mat-mdc-menu-item {
  height: 30px !important;
  line-height: 30px !important;
  min-height: 30px !important;

  .mdc-list-item__primary-text {
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-size: 14px;
    font-weight: 400 !important;
  }
}

.menu_item {
  height: 30px !important;
  line-height: 30px !important;
  min-height: 30px !important;

  .mdc-list-item__primary-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-size: 14px;
    font-weight: 400 !important;
  }
}

.mat-mdc-button-touch-target {
  height: 100% !important;
}



body[pattern=gamepad][cursor=none] {
  cursor: none !important;
}


body[angle=none] {

  .reader_toolbar_right,
  .reader_toolbar_left {
    .icon {
      transform: scale(1) !important;

      .mat-icon {
        transform: scale(1) !important;
      }
    }
  }

}
[content_menu_key='application'] {
  &::after {
    border: 0 !important;
  }

  &::before {
    border: 0 !important;
  }
}
