<div class="warp">
<div>
  <div class="title" style="
  font-size: 18px;
opacity: 0.87;
margin: 12px;
margin-bottom: 0;

">
扫描二维码
</div>
<button mat-icon-button style="position: absolute;
right: 0;
top: 0;" (click)="MobileWebQrcode.close()"

[attr.select]="'true'"   [attr.region]="'mobile_web_qrcode_item'"
>
<mat-icon>close</mat-icon>
</button>
</div>
  <div class="content" style="    padding:  24px;">
    <img [src]="url" width="265" height="265" style="border-radius: 4px;">
  </div>
  <div class="toolbar" style="
    display: flex;
    justify-content: end;
    padding: 12px;
    padding-top: 0;
  ">
    <!-- <button mat-button>复制</button> -->
    <button mat-button (click)="download()"  [attr.region]="'mobile_web_qrcode_item'" >下载</button>
  </div>
</div>
