<div>
  <div class="title" style="
font-size: 18px;
height: 18px;
line-height: 18px;
padding: 16px;
padding-bottom: 8px;
color: rgba(255, 255, 255, 0.34);
display: flex;
justify-content: center;">
    模组上传工具
  </div>


<div>
  <div>

    <div class="item">
      <span>
        名称
      </span>
      <mat-form-field class="example-full-width">
        <input matInput   value="Google">
      </mat-form-field>
    </div>

    <div class="item">
      <span>
        描述
      </span>
      <mat-form-field class="example-full-width">
        <input matInput   value="Google">
      </mat-form-field>
    </div>


    <div class="item">

      <span>
        预览图片
      </span>
     <button mat-button>+</button>

    </div>
    <div class="item">

      <span>
        选择上传文件路径
      </span>
      <button mat-button>+</button>
    </div>

    <div>
      <span>
        本次更新说明
      </span>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

  </div>

  <div>

  </div>
</div>
<div>
  <span>
    提交此模组即表明您同意了创意工坊服务条款
  </span>

  <button mat-button>开始上传</button>
</div>

</div>
