
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="模组商店">
    <div class="warp" style="display: flex;">
      <app-advanced-search
        [list]="query_list"
        [change]="on_135"

      ></app-advanced-search>
      <div
        class="grid"
        #listbox
        [attr.size]="'middle'"
        [attr.type]="'list'"
        [attr.id]="'comics_list'"
      >
        <button
          class="item"
          mat-button
          *ngFor="let n of list; let index = index"
          [attr._id]="n.id"
          [attr.index]="index"
          [attr.href]="n.href"
          [attr.region]="'comics_item'"
          [matTooltipShowDelay]="333"
          [matTooltip]="n.title"
          [attr.content_menu_key]="'comics_item'"
          [attr.content_menu_value]="n.id"
          [attr.multiple]="n.selected"
          (click)="on(n)"
        >
          <div class="img">
            <img
              class="_image"
              [width]="720"
              [height]="960"
              [src]="n.cover"
              style="position: absolute"
            />
            <div class="mezzanine"></div>
          </div>
          <div
            class="name"
            [attr.router_reader]="true"

          >
            {{ n.title }}
          </div>
          <div
            class="progress"
            [attr.router_reader]="true"
          >
            {{ n.author }}
          </div>
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="本地模组">
    <div class="warp" style="display: flex" style=" padding: 12px; width: calc(-48px + 80vw); background: rgb(48, 48, 48); margin: 12px;    height: calc(-12px + 80vh);">
      <div
      class="choice"
      style="margin: 0 12px;"
    >
      <div
        class="title"

        style="color: rgba(255, 255, 255, 0.34)"

      >
本地模组
      </div>
      <div class="list">
        <button
          [attr.region]="'comics_option'"
          mat-button

          class="item"

          [attr.current]="false"

        >
          已启用
        </button>
        <button
          [attr.region]="'comics_option'"
          mat-button

          class="item"

          [attr.current]="false"

        >
          已禁用
        </button>
      </div>
    </div>
      <div
        class="grid"
        style="padding: 0;background: transparent;"
        #listbox
        [attr.size]="'middle'"
        [attr.type]="'list'"
        [attr.id]="'comics_list'"
      >
        <button
          class="item"
          mat-button
          *ngFor="let n of loacl_list; let index = index"
          [attr._id]="n.id"
          [attr.index]="index"
          [attr.href]="n.href"
          [attr.region]="'comics_item'"
          [matTooltipShowDelay]="333"
          [matTooltip]="n.title"
          [attr.content_menu_key]="'comics_item'"
          [attr.content_menu_value]="n.id"
          [attr.multiple]="n.selected"
        >
          <div class="img">
            <img
              class="_image"
              [width]="720"
              [height]="960"
              [src]="n.cover"
              style="position: absolute"
            />
            <div class="mezzanine"></div>
          </div>
          <div
            class="name"
            [attr.router_reader]="true"

          >
            {{ n.title }}
          </div>
          <div
            class="progress"
            [attr.router_reader]="true"
          >
            {{ n.author }}
          </div>
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="制作模组">
    <div class="warp" style="display: flex" style=" padding: 12px; width: calc(-48px + 80vw); background: rgb(48, 48, 48); margin: 12px;    height: calc(-12px + 80vh);">
      <div
      class="choice"
      style="margin: 0;width: 100%;justify-content: end;"
    >

    <button
    [attr.region]="'comics_option'"
    mat-button

    class="item"

    [attr.current]="false"

  >
    上传模组
  </button>
    </div>
      <div
        class="grid"
        style="padding: 0;background: transparent;"
        #listbox
        [attr.size]="'middle'"
        [attr.type]="'list'"
        [attr.id]="'comics_list'"
      >
        <button
          class="item"
          mat-button
          *ngFor="let n of list; let index = index"
          [attr._id]="n.id"
          [attr.index]="index"
          [attr.href]="n.href"
          [attr.region]="'comics_item'"
          [matTooltipShowDelay]="333"
          [matTooltip]="n.title"
          [attr.content_menu_key]="'comics_item'"
          [attr.content_menu_value]="n.id"
          [attr.multiple]="n.selected"
        >
          <div class="img">
            <img
              class="_image"
              [width]="720"
              [height]="960"
              [src]="n.cover"
              style="position: absolute"
            />
            <div class="mezzanine"></div>
          </div>
          <div
            class="name"
            [attr.router_reader]="true"

          >
            {{ n.title }}
          </div>
          <div
            class="progress"
            [attr.router_reader]="true"
          >
            {{ n.author }}
          </div>
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>