.warp{
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .left{
    width: 360px;
    padding: 8px;
    height: calc(100% - 16px);
    overflow: auto;
    .title{
      font-size: 18px;
      margin: 8px;
      color: rgba(255, 255, 255, 0.34);
      // margin-left: 0px;
    }
  }
  .right{
    background: #303030;
    width: 100%;
    padding: 8px;
    height: calc(100% - 16px);
  }
}
.grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  grid-template-columns:1fr;

  justify-content: start;
  grid-gap: 4px;
  height: auto;
  max-height: 100%;
  width: 100%;
  grid-template-rows: min-content;
  overflow: auto;

  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.4rem;
    height: auto;
    width: 100%;
    user-select: none;
    // text-align: left;
    // height: min-content;

    .img {
      width: 100%;
      display: flex;
      align-items: end;
      overflow: hidden;
      position: relative;

      img {
        border-radius: 2px;
        // height: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 100%;
      }

    }

  }
  .info{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    align-items: start;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .name {
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    // margin-top: 6px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, .87);
    width: 100%;
    text-align: left;


    &:hover {
      color: rgba(255, 255, 255, .87);
    }
  }

  .progress {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, .34);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }

  [multiple=true],
  [content_menu_select=true] {
    background-color: rgba(255, 255, 255, .1);
  }

  .checkbox {
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: none;
  }
}
:host ::ng-deep {
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 24px;
    height: 24px;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 30px;
    background: #3c3c3c;
    padding: 0 12px;
    justify-content: end;
  }
  [region=comics_item]{
    .mdc-button__label {
      width: 100%;
      display: flex;
      // flex-direction: column;
      height: 100%;
      align-items: center;
      // justify-content: end;
    }
  }

  .mdc-text-field{
  background: transparent !important;
    backdrop-filter: brightness(0.92);
}
  .mat-mdc-button-touch-target {
    height: 100% !important;
  }

  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field-infix {
    min-height: 30px !important;
    padding: 0px !important;
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 0;
    transform: none !important;
    height: 30px;
    line-height: 30px;


  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(255, 255, 255, 0.6);
  }

  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    min-height: 30px !important;
  }

  .mdc-text-field .mdc-text-field__input {
    caret-color: rgba(255, 255, 255, 0.6);
  }

  .mdc-text-field {
    margin: 0 10px 4px;
    width: calc(100% - 20px) !important;
    border-radius: 4px;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  .mat-expansion-panel-header {
    background: transparent !important;
    padding: 0 !important;
    height: fit-content;


  }


  .mat-expansion-indicator {
    display: none;
  }

  .mat-accordion {}

  .mat-expansion-panel {
    background: none !important;
    box-shadow: none !important;
  }

  .mat-expansion-panel-header-title {
    margin-right: 0;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-header.mat-expanded {
    height: fit-content;
  }

  .mat-expansion-panel-spacing {
    margin: 0 !important;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: #000;
  }
}
