<div class="choice" [attr.justify_content]="!name">
  <div class="title" style="color:rgba(255,255,255,.34)" *ngIf="name">{{name}}</div>
  <div class="list">
    <button [attr.region]="'comics_option'" mat-button *ngFor="let n of list;let index=index"
      class="item"
      [attr._id]="n.index"
      [attr.selected]="default_index==index"
      [attr.current]="false"
      (click)="on(index)"
      >
      {{n.name}}
    </button>
  </div>
</div>
<app-comics-list key="choice" *ngIf="is_init_free"></app-comics-list>
