<div class="list">
  <!-- <button mat-icon-button class="icon"  (click)="on($event,'search')">
    <mat-icon>search</mat-icon>
  </button> -->
  <div class="top">
    <button mat-icon-button matTooltipPosition="left" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.edit" [attr._id]="'list_side_edit'" [attr.region]="'list_toolabr_item'" class="icon"
      (click)="editIsToggle($event)">
      <mat-icon>edit_note</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="left" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.upload" [attr.region]="'list_toolabr_item'" class="icon"
      (click)="uploadSelectOpen($event)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="left" [matTooltipShowDelay]="i18n.tooltipShowDelay"
    [matTooltip]="i18n.config.settings" [attr.region]="'list_toolabr_item'" class="icon" (click)="openListSettings($event)">
    <mat-icon>settings</mat-icon>
  </button>
  </div>
  <div class="buttom">
    <button mat-icon-button matTooltipPosition="left" [matTooltipShowDelay]="i18n.tooltipShowDelay"
    matTooltip="Github Pages" [attr.region]="'list_toolabr_item'"
    (click)="exportZipDist()" class="icon">
    <mat-icon>code</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="left" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="'Language'" [attr.region]="'list_toolabr_item'" class="icon" (click)="LanguageSettings.open()">
      <mat-icon>g_translate</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="left" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.about_the_software" [attr.region]="'list_toolabr_item'" class="icon"
      (click)="openSoftwareInformation($event)">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="left" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.settings" [attr.region]="'list_toolabr_item'" class="icon" (click)="openGlobalSettings($event)">
      <mat-icon>settings_applications</mat-icon>
    </button>
  </div>
  <!-- <button mat-icon-button class="icon" (click)="on($event,'sort')">
    <mat-icon>sort</mat-icon>
  </button>
  <button mat-icon-button class="icon" (click)="on($event,'settings')">
    <mat-icon>settings</mat-icon>
  </button> -->
</div>
