<div class="warp">
  <div class="top">
    <button mat-button>
      <mat-icon>arrow_back_ios</mat-icon>
      <span style="
      overflow: hidden;
text-overflow: ellipsis; /* 添加省略号 */
white-space: nowrap;
display: flex;
width: 67vw;
      ">{{data.chapters[chapter_index].title |translate}}</span>
    </button>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
<div class="content"
style="width: 100%;
    height: 100%;"
></div>
  <div class="buttom" style="width: 92%;
  margin: 4% auto;
  padding:12px 4px; ">
    <div style="display: flex;
        align-items: center;
        justify-content: space-between;">
      <button mat-icon-button *ngIf="zIndex > 0" [attr.region]="'reader_navbar_bar_buttom_item'"
        [disabled]="data.chapter_id == data.chapters[0].id" (click)="current._chapterPrevious()">
        <mat-icon>first_page</mat-icon>
      </button>

      <mat-slider cdkFocusInitial  style="width: 100%;" ngClass="progress" *ngIf="zIndex > 0" [attr._id]="'reader_navbar_bar_buttom_item_progress'"
        [attr.region]="'reader_navbar_bar_buttom_item'" [min]="0" class="w-full"   [step]="1"
        [max]="data.pages.length - 1">
        <input matSliderThumb [(ngModel)]="index" />
      </mat-slider>
      <button mat-icon-button *ngIf="zIndex > 0" [attr.region]="'reader_navbar_bar_buttom_item'" [attr.select]="true"
        [disabled]="
        data.chapter_id ==
        data.chapters[data.chapters.length - 1].id
      " (click)="current._chapterNext()">
        <mat-icon>last_page</mat-icon>
      </button>

    </div>
    <div style="display: flex;
    align-items: center;
    justify-content: space-around;">



  <button
        mat-icon-button
        *ngIf="zIndex > 0"
        [attr.region]="'reader_navbar_bar_buttom_item'"
        (click)="readerSectionOpen($event)"
      >
        <mat-icon>subject</mat-icon>
      </button>
      <button mat-icon-button *ngIf="zIndex > 0" [attr.region]="'reader_navbar_bar_buttom_item'"
        [disabled]="data.chapter_id == data.chapters[0].id" (click)="current._chapterPrevious()">
        <mat-icon>first_page</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="zIndex > 0"
        [attr.region]="'reader_navbar_bar_buttom_item'"
        (click)="openSettings()"
      >
        <mat-icon>settings</mat-icon>
      </button>
</div>

  </div>
</div>
