<div class="warp" style="margin: 0px;height: 80vh;">
  <div class="left">
    <!-- <div class="title">
      图片工具
    </div> -->
    <div class="menu">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
             <div class="title" style="font-size: 20px;
             text-align: center;
             margin: 12px;
             color: rgba(255, 255, 255, 0.34);">
              {{'图片工具' | translate}}
             </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button [attr._id]="1" [attr.default]="false" [attr.select]="true" [attr.selected]="true" mat-button
            class="item item1" [attr.region]="'menu_item'">
            <!-- <mat-icon class="icon" [attr.svg_filter]="'text_primary'">images</mat-icon> -->
            <div class="name" [attr.svg_filter]="'text_primary'">
              {{'滤镜和压缩' | translate}}
            </div>
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="right" style="display: flex;    margin: 8px 8px 8px 0;">
    <div class="content" style="    width: 818px;overflow: auto;">
      <div class="confirm" style="    display: flex;
      justify-content: space-between;
      margin: 12px;">
        <div class="left">
          <button mat-button [attr.region]="'item'" color="accent" (click)="open_comics_list()" id="comics_list_837">
            {{'待处理漫画' | translate}}</button>
        </div>
        <div class="right" (click)="download()">
          <!-- <button mat-button [attr.region]="'item'" color="accent">普通下载</button> -->
          <button mat-button [attr.region]="'item'"> {{'下载' | translate}}</button>
        </div>
      </div>
      <!-- <mat-divider style="margin-top: 8px;"></mat-divider> -->
      <div class="box" style="display: flex;justify-content: space-between;">
        <div class="card" style="padding:0 12px;">
          <div class="title" style="font-size: 18px;margin: 8px;    margin-top: 0;">
            {{'输入图像' | translate}}
          </div>
          <app-image style="width: 384px;
          height: 216px;
          object-fit: cover;    border-radius: 4px;
          overflow: hidden;" [src]="cover" [width]="384" [height]="204" [objectFit]="'cover'" />
        </div>
        <div class="card" style="padding:0 12px;">
          <div class="title" style="font-size: 18px;margin: 8px;    margin-top: 0;">
            {{'预览' | translate}} - {{'输出图像' | translate}}
          </div>
          <app-image style="width: 384px;
          height: 216px;
          object-fit: cover;    border-radius: 4px;
          overflow: hidden;filter: url(#vvvv);" [src]="cover" [width]="384" [height]="204" [objectFit]="'cover'" />
        </div>
      </div>
      <div class="form">
        <mat-chip-set style="margin: 12px;" cdkDropList cdkDropListOrientation="horizontal">
          @for (n of arr; track n) {
          <mat-chip (click)="on(n)" cdkDrag>{{n.name|translate}}</mat-chip>
          }
        </mat-chip-set>
        <app-matrix [(values)]="saturateMatrix" [change]="saturateMatrixChange"></app-matrix>

        <div class="compressed-image-option">
          <div class="item">
            <div>{{'是否压缩' | translate}}:</div>
            <mat-slide-toggle style="margin-left: 8px;" [(ngModel)]="is_compress" name="enableWifi"></mat-slide-toggle>
          </div>
          <div class="item" *ngIf="is_compress">
            <div>{{'图像宽度' | translate}}:</div>
            <input matInput [(ngModel)]="option.width" type="number" min="0">
          </div>
          <div class="item" *ngIf="is_compress">
            <div>{{'图像大小' | translate}}:</div>
            <input matInput [(ngModel)]="option.size" type="number" min="0">
          </div>
          <div class="item" *ngIf="!option.size&&is_compress">
            <div>{{'图像质量' | translate}}:</div>
            <input matInput [(ngModel)]="option.quality" type="number" min="0.2" max="1">
          </div>
          <div class="item" *ngIf="is_compress">
            <div>{{'图像类型' | translate}}:</div>
            <mat-button-toggle-group appearance="legacy" [(ngModel)]="option.type" style="margin-left: 8px;">
              <mat-button-toggle value="png">png</mat-button-toggle>
              <mat-button-toggle value="jpeg">jpeg</mat-button-toggle>
              <mat-button-toggle value="webp">webp</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg style="display: none;">
    <filter id="vvvv" name="变灰" x="0%" y="0%" width="100%" height="100%">
      <feColorMatrix type="matrix" [attr.values]="saturateMatrix" />
    </filter>
  </svg>
</div>
