<div class="navbar_bar" *ngIf="current.comics" [attr.opened]="opened" [style.zIndex]="zIndex" [style.display]="zIndex>0?'':''">
  <div class="warp">
    <div class="top">
      <div class="list">
        <div class="id item" >
          <div class="title" (click)="routerList()" *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_top_item'">{{i18n.config.home_page}}</div>
        </div>
        <div class="pid item" >
          <div class="arrow">></div>
          <div class="title" (click)="routerDetail()" *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_top_item'">{{current.comics.title}}</div>
        </div>
        <div class="sid item" >
          <div class="arrow">></div>
          <div class="title" *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_top_item'">{{current.comics.chapter.title}}</div>
        </div>
      </div>
    </div>
    <div class="content" (click)="close()"></div>
    <div class="bottom">
      <mat-slider ngClass="progress" *ngIf="zIndex>0" [attr._id]="'reader_navbar_bar_buttom_item_progress'" [attr.region]="'reader_navbar_bar_buttom_item'" [min]="0" class=" w-full" [step]="1" [max]="current.comics.chapter.total-1" >
        <input matSliderThumb [(ngModel)]="index">
      </mat-slider>
      <button mat-icon-button *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_buttom_item'" [disabled]="current.comics.chapter.id==current.comics.chapters[0].id" (click)="current.previous()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_buttom_item'" [attr.select]="true" [disabled]="current.comics.chapter.id==current.comics.chapters[current.comics.chapters.length-1].id" (click)="current.next()">
        <mat-icon>navigate_next</mat-icon>
      </button>
      <button mat-icon-button *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_buttom_item'" (click)="readerSectionOpen($event)">
        <mat-icon>subject</mat-icon>
      </button>
      <button mat-icon-button *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_buttom_item'" (click)="openSettings($event);">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button *ngIf="zIndex>0" [attr.region]="'reader_navbar_bar_buttom_item'" (click)="switchChnage();close();" [disabled]="current.comics.mode==1||current.comics.mode==3||current.comics.mode==5?false:true">
        <mat-icon>swap_horiz</mat-icon>
      </button>
    </div>
  </div>
</div>
