<mat-drawer-container autosize [hasBackdrop]="has_backdrop" [mode]="'side'" *ngIf="data.is_init_free" >

  <mat-drawer style="overflow: hidden;" [opened]="menu.opened" [position]="menu.position" [attr.svg_filter]="'background_secondary'" [autoFocus]="false" (openedChange)="openedChange($event)" class="example-sidenav" mode="side">
    <app-menu></app-menu>
  </mat-drawer>
  <div class="container" [attr.svg_filter]="'background_secondary'" [attr.is_fixed]="false" [attr.edit]="data.is_edit">
    <div class="content" (mouseleave)="mouseleave($event)" [attr.svg_filter]="'background_primary'"  >
      <router-outlet></router-outlet>
      <app-index-toolbar></app-index-toolbar>

    </div>
  </div>
</mat-drawer-container>
<!-- [svg_filter]="background_primary" -->
<!-- [svg_filter]="background_secondary" -->
