<mat-drawer-container autosize [hasBackdrop]="false" [mode]="'side'" *ngIf="data.is_init_free">

  <mat-drawer [opened]="menu.opened" [autoFocus]="false" (openedChange)="openedChange($event)" class="example-sidenav" mode="side">
    <app-menu></app-menu>
  </mat-drawer>
  <div class="container" [attr.is_fixed]="false" [attr.edit]="data.is_edit">
    <div class="content" (mouseleave)="mouseleave($event)">
      <router-outlet></router-outlet>
      <app-index-toolbar></app-index-toolbar>
    </div>
  </div>
</mat-drawer-container>
