<div class="warp">
  <div class="head" [attr.region]="'menu_search_input'" [attr.select]="true" style=" ">
    <mat-icon fontIcon="search" ></mat-icon>
    <input id="input_v1c"  type="text" [attr.placeholder]="'搜索'|translate" (focus)="focus()" (blur)="blur()"   [(ngModel)]="keyword">
  </div>

  <div>
    <div class="grid" #listbox [attr.size]="'middle'" [attr.type]="'list'" [attr.section]="'comics_list'">
      <button
        class="item"
        mat-button
        *ngFor="let n of filter_comics_list;let index=index"
        [attr._id]="n.id"
        [attr.index]="index"
        [attr.region]="'menu_search_comics_item'"
        [attr.default]="false"
        [attr.select]="false"
        [matTooltipShowDelay]="333"
        [matTooltip]="n.title"
        [attr.content_menu_key]="'menu_search_comics_item'"
        [attr.content_menu_value]="n.id"
        [attr.multiple]="false" (click)="on(n)">
        <div class="img"   style="width: 24px;min-width: 24px;">
          <img [attr.width]="720" [attr.height]="960" style="width: 100%;
          height: auto;opacity: 0;" >
          <app-image [src]="n.cover" style="position: absolute;" />
          <div class="mezzanine"></div>
        </div>
        <div class="info">
          <div class="name" [attr.router_reader]="true" >{{n.title}}</div>
        </div>
      </button>
    </div>
    <div class="grid" #listbox [attr.size]="'middle'" [attr.type]="'list'" *ngIf="keyword" [attr.section]="'comics_list'">
      <button
        class="item"
        mat-button
        *ngFor="let n of arr;let index=index"
        [attr._id]="n.id"
        [attr.index]="index"
        [attr.region]="'menu_search_comics_item'"
        [attr.default]="false"
        [attr.select]="false"
        [matTooltipShowDelay]="333"
        [matTooltip]="n.name"
        [attr.content_menu_key]="'menu_search_comics_item'"
        [attr.content_menu_value]="n.id"
        [attr.multiple]="false" (click)="on2(n)">
        <div class="img"   style="    width: 24px;min-width: 24px;">
          <mat-icon class="icon" >folder_open</mat-icon>
        </div>
        <div class="info">
          <div class="name" style="margin: 0;" [attr.router_reader]="true" >使用 {{n.name}} 搜索</div>
          <!-- <mat-icon class="icon" >arrow_forward</mat-icon> -->
        </div>
      </button>
    </div>
  </div>
</div>

