[disabled=true]{
  color: rgba(255, 255, 255, 0.5);
}

[th=name]{
  text-align: left !important;
  white-space: nowrap; overflow: hidden;
  text-overflow: ellipsis; max-width: 400px;

}

@media screen and (min-width: 720px) and (max-width: 4480px) {
  [th=name]{

    width: 400px;
  }
}
:host ::ng-deep {

  @media screen and (min-width: 0px) and (max-width: 480px) {
    .mdc-data-table__cell, .mdc-data-table__header-cell {
      white-space: nowrap;
      padding: 0 !important;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 480px) {
    [th=name]{
       max-width:200px;
       padding: 12px !important;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 320px) {
    [th=name]{
       max-width:160px;
       padding: 8px !important;
    }
  }
}


