<div id="gamepad_reader_circle_toolbar" (click)="close()">
  <div class="circularity_toolabr">
    <!-- <div class="outer">
      <div class="outer-wire"></div>
      <div class='outer-select'>
        <div class='triangle' (click)="on(index)">
        </div>
      </div>
      <div class="outer-wire" style="transform: rotate(30deg)"></div>
      <div class="outer-wire" style="transform: rotate(60deg)"></div>
      <div class="outer-wire" style="transform: rotate(90deg)"></div>
      <div class="outer-wire" style="transform: rotate(120deg)"></div>
      <div class="outer-wire" style="transform: rotate(150deg)"></div>
      <div class="outer-select"></div>
      <mat-icon class="icon icon-1" style="left: 29px;top: 30px;">settings</mat-icon>
    </div> -->
    <div class="inner">
      <div class='inner-select' style="transform: rotate(0deg);">
        <div class='inner-triangle'>
        </div>
      </div>

      <button mat-icon-button matTooltipPosition="right" class="icon icon-3" [attr._id]="'gamepad_toolbar_center_6'"
        [attr.region]="'gamepad_toolbar_center'" (click)="isFullChange()">
        <mat-icon *ngIf="isfullscreen">fullscreen_exit</mat-icon>
        <mat-icon *ngIf="!isfullscreen">fullscreen</mat-icon>
      </button>
    </div>
  </div>

</div>
