<div class="warp opacity-0" id="reading_time">
  <div class="cover">
    <img [src]="current.comics.cover.src">
    <div class="title">{{current.comics.title}}</div>
    <div class="reading-time">{{cover.minutes}} 分钟</div>
  </div>
  <div class="chapters">
    <button mat-button class="item" [attr.select]="item.id==current.comics.chapter.id" [attr.region]="'reading_time'"
      [id]="item.id" *ngFor="let item of chapters;let index=index" (click)="close()">
      <img [src]="item.images[0].small" alt="">
      <div class="info">
        <div class="name">{{item.title}}</div>
        <div class="reading-time">{{item.minutes}} 分钟</div>
      </div>
    </button>
  </div>
  <!-- <div class="images">
    <div class="item" *ngFor="let item of chapters[4].images;let index=index">
      <img [src]="item.src" alt="">
      {{item.millisecond}} 秒
      <mat-chip-listbox class="info">
        <mat-chip-option class="reading-time" *ngFor="let n of item.readingTimes ">{{n.startTime | date:'MM-dd HH:mm:ss'}}-{{n.endTime |date:'mm:ss'}}</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div> -->
</div>
