.warp {
  padding: 24px;
}

.title {
  margin: 8px 0;
  margin-bottom: 0;
  opacity: 0.56;
}
.item{
  margin: 4px 0;
}
.content {
  margin: 12px 0;

  opacity: 0.87;
  white-space: pre-line;
}

.date {
  margin: 8px;
  margin-bottom: 0;
  opacity: 0.34;
}
.list{
  height: 600px;
  width: 600px;
  overflow: auto;
}

.user{
  display: flex;
}


@media screen and (min-width: 0px) and (max-width: 480px) {
  .warp{
    padding: 0px;
  }

  .list{
    height: auto;
    width: auto;
    overflow: auto;
  }
}
