.list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .list {
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  }
}
