<div class="grid" #listbox [attr.size]="'middle'" [attr.type]="'list'" [attr.section]="'comics_list'">
  <button
    class="item"
    mat-button
    *ngFor="let n of list;let index=index"
    [attr._id]="n.id"
    [attr.index]="index"
    [attr.region]="'comics_item'"
    [attr.default]="false"
    [attr.select]="false"
    [matTooltipShowDelay]="3000"
    [matTooltip]="n.title"
    [attr.content_menu_key]="'comics_item'"
    [attr.content_menu_value]="n.id"
    [attr.multiple]="false">
    <div class="img"   style="    width: 72px;min-width: 72px;">
      <img [attr.width]="720" [attr.height]="960" style="width: 100%;
      height: auto;opacity: 0;" >
      <app-image [src]="n.cover" style="position: absolute;" />
      <div class="mezzanine"></div>
    </div>
    <div class="info">
      <div class="name" [attr.router_reader]="true" >{{n.title}}</div>
      <!-- <div class="progress" [attr.router_reader]="true" >{{n.subTitle}}</div> -->
      <mat-checkbox class="checkbox" [color]="'primary'" *ngIf="is_edit" [(ngModel)]="n.selected"></mat-checkbox>
    </div>
  </button>
</div>
