<div class="warp">
  <div class="title"  [attr.svg_filter]="'text_secondary'" >
    {{'支持网站'|translate}}
  </div>
  <div class="list">
    <div class="item" style="    display: flex;
    justify-content: space-between;
    justify-content: start;
    align-items: center;" *ngFor="let n of list;let index=index"    >
      <div class="name" style="margin-right: 12px;"  [attr.svg_filter]="'text_secondary'" >
        {{n.name}}
      </div>
      <button mat-button class="link" [attr.region]="'item'"
      [attr.default]="index==0"
      [attr.select]="index==0" (click)="on(n.href)"  [attr.svg_filter]="'text_primary'" >
        {{n.href}}
      </button>
    </div>
  </div>
  <mat-divider style="margin: 12px 0;"></mat-divider>
  <div style="display: flex;flex-direction: column;"  [attr.svg_filter]="'text_secondary'" >
    <span>
      1. {{'打开网站'|translate}}
    </span>
    <span>
      2.{{'访问漫画的详情页'|translate}}
    </span>
    <span>
      3.{{'复制漫画的详情页链接'|translate}}
    </span>
    <span>
      4.{{'转跳到本网站的链接'|translate}}
    </span>
  </div>
  <mat-divider style="margin: 12px 0;"></mat-divider>
  <div  [attr.svg_filter]="'text_secondary'" >
     {{'添加对应支持网站,需要通过脚本进行添加'|translate}}

  </div>
</div>
