<div class="warp">
  <div class="title">
    支持的网站
  </div>
  <div class="list">
    <div class="item" style="    display: flex;
    justify-content: space-between;
    justify-content: start;
    align-items: center;">
      <div class="name" style="margin-right: 12px;">
        blilblil
      </div>
      <button mat-button class="link">
        https://manga.bilibili.com/
      </button>
    </div>
  </div>
  <mat-divider style="margin: 12px 0;"></mat-divider>
  <div style="display: flex;flex-direction: column;">
    <span>
      1.打开网站
    </span>
    <span>
      2.访问漫画的详情页
    </span>
    <span>
      3.复制漫画的详情页链接
    </span>
    <span>
      4.转跳到本网站的链接
    </span>
  </div>
  <mat-divider style="margin: 12px 0;"></mat-divider>
  <div>
     添加对应支持网站,需要通过脚本进行添加
  </div>
</div>
