<div class="left">
  <button mat-icon-button class="icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>sort</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>settings</mat-icon>
  </button>
</div>
<div class="right">
  <button mat-icon-button class="icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>sort</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>settings</mat-icon>
  </button>
</div>
