<div class="warp">
  <div class="left">
    <div class="title">
      待处理列表
    </div>
    <div class="list">
      <div class="grid" #listbox [attr.size]="'middle'" [attr.type]="'list'" [attr.section]="'comics_list'">
        <button class="item" mat-button *ngFor="let n of list;let index=index" [attr._id]="n.id" [attr.index]="index"
          [attr.region]="'comics_item'" [attr.default]="false" [attr.select]="false" [matTooltipShowDelay]="3000"
          [matTooltip]="n.title" [attr.content_menu_key]="'comics_item'" [attr.content_menu_value]="n.id"
          [attr.multiple]="false">
          <div class="img" style="    width: 72px;min-width: 72px;">
            <img [attr.width]="720" [attr.height]="960" style="width: 100%;
              height: auto;opacity: 0;">
            <app-image [src]="n.cover" style="position: absolute;" />
            <div class="mezzanine"></div>
          </div>
          <div class="info">
            <div class="name" [attr.router_reader]="true" >{{n.title}}</div>
            <div class="progress" [attr.router_reader]="true" >{{n.download_status}}
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="n.download_status=='下载中'" style="    width: 100%;
              position: absolute;
              bottom: 0px;"></mat-progress-bar>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="right" style="overflow: auto;position: relative;">
    <div class="item1"  >
      <div class="name">类型</div>
      <!-- <mat-radio-group [(ngModel)]="option.pageOrder"> -->
      <mat-radio-group style="
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
      " [(ngModel)]="type">
        <mat-radio-button [attr.type]="'radio'" [attr.region]="'item'" class="radio_button" [value]="'txt'"
          style="display: flex;">txt</mat-radio-button>
        <mat-radio-button [attr.type]="'radio'" [attr.region]="'item'" class="radio_button" [value]="'md'"
          style="display: flex;">md</mat-radio-button>
        <!-- <mat-radio-button [attr.type]="'radio'" [attr.region]="'item'" class="radio_button" [value]="'word'"
          style="display: flex;">word</mat-radio-button> -->
        <!-- <mat-radio-button [attr.type]="'radio'" [attr.region]="'item'" class="radio_button" [value]="'pdf'"
          style="display: flex;">pdf</mat-radio-button> -->
        <mat-radio-button [attr.type]="'radio'" [attr.region]="'item'" class="radio_button" [value]="'json'"
          style="display: flex;">json</mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" [attr.region]="'item'"
    (click)="download()" style="    position: absolute;
    right: 20px;
    bottom: 20px;">下载</button>
  </div>
</div>
