
.grid {
  // backdrop-filter: brightness(0.8) blur(4px);
  // padding: 8px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  grid-template-columns:repeat(auto-fill, minmax(168px, 1fr));

  justify-content: start;
  grid-gap: 0.4rem 0;
  height: auto;
  max-height: 100%;
  width: 100%;
  grid-template-rows: min-content;


  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.8rem;
    height: auto;
    width: 100%;
    // min-width: 25vh;
    // width: 25vh;
    user-select: none;
    // text-align: left;
    // height: min-content;

    .img {
      width: 100%;
      display: flex;
      align-items: end;
      overflow: hidden;
      position: relative;

      img {
        border-radius: 2px;
        // height: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 100%;
      }

    }

  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 6px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, .87);
    width: 100%;
    text-align: left;
    transition: 10s all;

    &:hover {
      color: rgba(255, 255, 255, .87);
    }
  }

  .progress {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, .34);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }

  [multiple=true],
  [content_menu_select=true] {
    background-color: rgba(255, 255, 255, .1);
  }

  .checkbox {
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: none;
  }
}


:host ::ng-deep {
  .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 4px;
  }

  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 24px;
    height: 24px;
  }

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 30px;
    background: #3c3c3c;
    padding: 0 12px;
    justify-content: end;
  }
  [region=item]{
    .mdc-button__label {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: end;
    }
  }
}
