<div style="max-height: 80vh;">
  <!-- <div class="title1" style="display: flex; justify-content: center;">
    <div style="   display: flex;

    font-size: 24px;
    opacity: 0.24;
    margin: 8px 0;" [attr.svg_filter]="'text_secondary'">-{{'全部脚本' | translate}}-</div>
  </div> -->
  <div style="display: flex ;
      justify-content: space-between;
      align-items: center;">
    <div style="display: flex ;
       justify-content: center;
       align-items: center;">
      <div style="font-size: 18px;opacity: 0.34;margin-right: 10px;">{{'通道' | translate}}</div>
      <!-- <button mat-button  style="    display: flex; flex-direction: row-reverse;">
        ws://localhost:7703
        <mat-icon>expand_more</mat-icon>
      </button> -->
    </div>
    <div style="display: flex;">
      <mat-checkbox style="margin-right: 10px;" [(ngModel)]="ReplaceChannelController.is_enabled"
        (change)="change123()"  [attr.region]="'replace_channel_page_item'" [attr.type]="'checkbox'"> {{'打开时触发' | translate}}</mat-checkbox>
      <!-- <button mat-button [attr.svg_filter]="'text_primary'" [attr.select]="'true'" class="name" style="cursor: pointer;"
        [attr.menu_key]="'pulg_javascript_add'" [attr.region]="'replace_channel_page_item'">
        <mat-icon>add</mat-icon>
        添加
      </button> -->
      <mat-divider [vertical]="true" style="        margin: 12px 4px;
      border-right-width: 2px;
    "></mat-divider>
      <button mat-button  [attr.select]="'true'" class="name" style="cursor: pointer;"  [attr.region]="'replace_channel_page_item'">
         {{'关闭通道' | translate}}
      </button>
    </div>
  </div>
  <div style="background: #303030; padding: 0 12px; border-radius: 4px;max-height: 60vh;overflow: auto;">
    <table style="box-shadow: none;
background: #303030;
    " mat-table [dataSource]="list">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let n" [attr.disabled]="n.id==ReplaceChannelController.send_client_id"> {{n.index}}
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="    text-align: center;"> ID </th>
        <td mat-cell *matCellDef="let n">
          <div style="display: flex ;
              justify-content: center;">
            <button mat-icon-button style="
          width: 30px;
          height: 30px;
          padding: 0;
          border-radius: 0;
          display: flex ;
          justify-content: center;
          align-items: center;">
              <mat-icon style="width:18px;height:18px;font-size: 18px;">content_copy</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.th]="'name'">  {{'名称' | translate}} </th>
        <td mat-cell *matCellDef="let n" [attr.disabled]="n.id==ReplaceChannelController.send_client_id"
          [attr.th]="'name'"> {{n.name}} </td>
      </ng-container>
      <ng-container matColumnDef="operate">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{'操作' | translate}} </th>
        <td mat-cell *matCellDef="let n">
          <div style="display: flex ;
              justify-content: center;">
            <button mat-button [disabled]="n.id==ReplaceChannelController.send_client_id"
              [attr.region]="'replace_channel_page_item'" (click)="change(n)">{{'切换' | translate}}</button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</div>
