.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  padding: 12px;

  .item {
    height: 90px;
    width: 240px;
    background: #303030;
    position: relative;
  }
}

.title {
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  padding: 16px;
  padding-bottom: 8px;
  color: rgba(255, 255, 255, 0.34);
  display: flex;
  justify-content: center;
}

:host ::ng-deep {
  .mdc-button__label {
    width: 100%;
    height: 100%;
  }
}
