<div class="warp">
  <div class="title">
    <div>

    </div>
    <div class="toolbar">
      <button mat-button (click)="on()" [attr.region]="'select_tag_multiple_item'" [attr.select]="true">确认</button>
      <button mat-button (click)="close()" [attr.region]="'select_tag_multiple_item'">关闭</button>
    </div>
  </div>
  <div class="list" *ngFor="let n of list;let index=index">
    <button mat-button [disabled]="true">{{n.title}}</button>
    <mat-chip-listbox [multiple]="true" [(ngModel)]="n.value">
      <mat-chip-option class="tag" *ngFor="let c of n.tags;let cindex=index" [value]="c.index" [attr.region]="'chip_option_v32'" [attr.type]="'chip'">{{c.name}}</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>
