<div class="full_buttom">
  <button matTooltipPosition="left" tabIndex="-1" mat-icon-button class="icon" (click)="isFullChange()">
    <mat-icon>help</mat-icon>
  </button>

  <button matTooltipPosition="left" tabIndex="-1" mat-icon-button class="icon" (click)="isFullChange()">
    <mat-icon *ngIf="isfullscreen">fullscreen_exit</mat-icon>
    <mat-icon *ngIf="!isfullscreen">fullscreen</mat-icon>
  </button>
</div>
<div class="switch_left_position">
  <div style="
      min-width: 32px;
      height: 72px;
      max-width: 32px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    " (click)="on()" [attr.opened]="menu.opened" [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
    [matTooltipPosition]="'right'">
    <div class="switch_left">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
</div>
<div class="slide_toggle_position" style="display: none;">
  <div style="
      min-width: 32px;
      height: 72px;
      max-width: 32px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    " (click)="on()"  [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
    [matTooltipPosition]="'right'">
    <div class="slide_toggle" [attr.opened]="menu.opened">
      <div class="left"></div>
    </div>
  </div>
</div>
<div class="edge_corner" style="right: 0px; top: 0px" (click)="on1()">
  <div class="button">
    <div class="triangle" style="clip-path: polygon(0 0, 100% 0%, 100% 100%);"  [attr.opened]="menu.opened" [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
      [matTooltipPosition]="'right'"></div>
  </div>
</div>
<div class="edge_corner" style="left: 0px; top: 0px">
  <div class="button">
    <div class="triangle" style="clip-path: polygon(0 0, 100% 0%, 0% 100%);" (click)="on2()" [attr.opened]="menu.opened" [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
      [matTooltipPosition]="'right'"></div>
  </div>
</div>
<div class="edge_corner" style="left: 0px; bottom: 0px">
  <div class="button">
    <div class="triangle" style="clip-path:  polygon(0 0, 100% 100%, 0% 100%);" (click)="on()" [attr.opened]="menu.opened" [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
      [matTooltipPosition]="'right'"></div>
  </div>
</div>
<div class="edge_corner" style="right: 0px; bottom: 0px;display: none;">
  <div class="button">
    <div class="triangle" style="clip-path:polygon(0 100%, 100% 100%, 100% 0%);" (click)="on()" [attr.opened]="menu.opened" [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
      [matTooltipPosition]="'right'"></div>
  </div>
</div>
