<div class="warp1" style="width: 40vw;">
  <!-- <div class="title" style="    font-size: 24px;
  margin: 12px;
  color: rgba(255, 255, 255, .34);">匹配搜索</div> -->
  <div class="grid" style="    margin: 18px;">
    <div class="item1" *ngFor="let n of urlToComicsId.list;let index=index">
      <div class="name1" style="    color: rgba(255, 255, 255, .34);
      font-size: 18px;">{{n.name}}</div>
      <button class="item" mat-button [attr._id]="n.id"
        [attr.region]="'item'" [attr.default]="index==0"
        [attr.select]="index==0" [matTooltipShowDelay]="3000" [matTooltip]="n.title"
        [attr.content_menu_key]="'comics_item'" [attr.content_menu_value]="n.id" [attr.multiple]="n.selected" (click)="on(n.id,n.detail.id)">
        <div class="img">
          <img [attr.width]="720" [attr.height]="960" style="width: 100%;height: auto;opacity: 0;">
          <app-image [src]="n.detail.cover" style="position: absolute;" />
          <div class="mezzanine"></div>
        </div>
        <div class="name" [attr.router_reader]="true">{{n.detail.title}}</div>
      </button>
    </div>


  </div>
</div>
