<div class="list">
  <mat-form-field style="width: 100%;">
    <input type="text" matInput placeholder="搜索" >
  </mat-form-field>

  <div *ngFor="let n of data.menu;let index=index">
    <div *ngIf="n.submenu" [attr.type]="'expansion'">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-button class="item" [attr.region]="'menu_item'">
                <mat-icon class="icon">{{n.icon}}</mat-icon>
                <div class="name">
                  {{n.name}}
                </div>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button [attr.selected]="menu.current_menu_id==(n.id+'_'+c.id)" [attr._id]="n.id+'_'+c.id" *ngFor="let c of n.submenu;let index2=index" mat-button class="item item1" [attr.region]="'menu_item'"
            (click)="on($event,c,{
              id:n.id,
              name:n.name
            })">
            <mat-icon class="icon">{{c.icon}}</mat-icon>
            <div class="name">
              {{c.name}}
            </div>
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="n.type=='separator'" [attr.type]="'separator'">
      <mat-divider style="margin: 8px 16px;"></mat-divider>
    </div>
    <div *ngIf="!n.submenu&&n.type!='separator'" [attr.type]="'button'">
      <button [attr.selected]="menu.current_menu_id==n.id" style="margin-top: 4px;" mat-button class="item" [attr.region]="'menu_item'"
        (click)="on($event,n)" [attr._id]="n.id">
        <mat-icon class="icon" >{{n.icon}}</mat-icon>
        <div class="name">
          {{n.name}}
        </div>
      </button>
    </div>
  </div>
  <button  [attr.menu_key]="'_gh_settings'"
           [attr.menu_value]="'_gh_settings'"
    mat-icon-button class="settings" (click)="onMenu($event)">
    <mat-icon class="icon">settings</mat-icon>
  </button>
</div>
