<div class="list">
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 100%;">
      <input type="text" matInput placeholder="搜索" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div *ngFor="let n of data.menu;let index=index">
    <div *ngIf="n.submenu" [attr.type]="'expansion'">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-button class="item" [attr.region]="'menu_item'">
                <mat-icon class="icon">{{n.icon}}</mat-icon>
                <div class="name">
                  {{n.name}}
                </div>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button *ngFor="let c of n.submenu;let index2=index" mat-button class="item item1" [attr.region]="'menu_item'"
            (click)="c.click({
            id:c.id,
            name:c.name,
            parent:{
              id:n.id,
              name:n.name
            }
          })">
            <mat-icon class="icon">class</mat-icon>
            <div class="name">
              {{c.name}}
            </div>
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="n.type=='separator'" [attr.type]="'separator'">
      <mat-divider style="margin: 8px 16px;"></mat-divider>
    </div>
    <div *ngIf="!n.submenu&&n.type!='separator'" [attr.type]="'button'">
      <button style="margin-top: 4px;" mat-button class="item" [attr.select]="true" [attr.region]="'menu_item'" (click)="n.click({
        id:n.id,
        name:n.name
      })">
        <mat-icon class="icon">{{n.icon}}</mat-icon>
        <div class="name">
          {{n.name}}
        </div>
      </button>
    </div>
  </div>
</div>
