<div class="warp">
  <div class="title" [attr.svg_filter]="'text_secondary'">
     {{'音频'|translate}}
  </div>

  <div class="list">
    <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
           {{'操作音效'|translate}}
      </div>
      <mat-slide-toggle style="z-index: 2;" [attr.region]="'item'"
      [attr.default]="true"
      [attr.select]="true" [attr.type]="'slide'" (toggleChange)="change($event)" [attr.type]="" [(ngModel)]="is"></mat-slide-toggle>
    </div>
  </div>
</div>
