
<div class="head">
  <div class="choice" [attr.justify_content]="!query.name">
    <div class="title" style="color:rgba(255,255,255,.34)" *ngIf="query.name">{{query.name}}</div>
    <div class="list">
      <button [attr.region]="'comics_option'" mat-button *ngFor="let c of query.list;let index=index"
        class="item"
        [attr._id]="c.index"
        [attr.selected]="query.default_index==index"
        [attr.current]="false"
        (click)="on(index)"
        >
        {{c.name}}
      </button>
    </div>
  </div>
</div>
<div class="warp">
  <div class="grid" #listbox [attr.size]="'middle'" [attr.type]="'list'" [attr.section]="'comics_list'" (click)="on_list($event)">
    <button
      class="item"
      mat-button
      *ngFor="let n of list;let index=index"
      [attr._id]="n.id"
      [attr.index]="index"
      [attr.region]="'comics_item'"
      [attr.select]="n.id==''"
      [matTooltipShowDelay]="3000"
      [matTooltip]="n.title"
      [attr.content_menu_key]="'comics_item'"
      [attr.content_menu_value]="n.id"
      [attr.multiple]="n.selected">
      <div class="img">
        <app-image class="w-full" [src]="n.cover" />
        <div class="mezzanine"></div>
      </div>
      <div class="name" [attr.router_reader]="true">{{n.title}}</div>
      <div class="progress" [attr.router_reader]="true">{{n.subTitle}}</div>
      <mat-checkbox class="checkbox" [color]="'primary'" *ngIf="data.is_edit" [(ngModel)]="n.selected"></mat-checkbox>
    </button>
  </div>
</div>
