<div *ngIf="is_loading_page">
  <router-outlet></router-outlet>
</div>
<!-- <app-select-data-source *ngIf="!is_data_source"></app-select-data-source> -->
<lib-context-menu *ngIf="is_loading_page"></lib-context-menu>
<!-- <app-gamepad-vioce></app-gamepad-vioce> -->
<!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
<!-- <svg>
  <filter id="background_primary" x="0%" y="0%" width="100%" height="100%">
    <feTurbulence type="fractalNoise" baseFrequency='0.88' result='noise' numOctaves="5" />
    <feDiffuseLighting in='noise' lighting-color='#303030' surfaceScale='2'>
        <feDistantLight azimuth='45' elevation='60' />
    </feDiffuseLighting>
  </filter>
  <filter id="background_accent" x="0%" y="0%" width="100%" height="100%">
    <feTurbulence type="fractalNoise" baseFrequency='0.88' result='noise' numOctaves="5" />
    <feDiffuseLighting in='noise' lighting-color='#424242' surfaceScale='2'>
        <feDistantLight azimuth='45' elevation='60' />
    </feDiffuseLighting>
  </filter>
</svg> -->

<!-- [svg_filter]="background_primary" -->
<!-- [svg_filter]="background_accent" -->
