<div *ngIf="is_loading_page">
  <router-outlet></router-outlet>
</div>
<!-- <app-select-data-source *ngIf="!is_data_source"></app-select-data-source> -->
<lib-context-menu *ngIf="is_loading_page"></lib-context-menu>
<app-gamepad-vioce *ngIf="GamepadController.is_voice_controller"></app-gamepad-vioce>

<!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
<!-- <svg style="width: 0px;height:0px;">
  <filter id="background_primary" x="0%" y="0%" width="100%" height="100%">
    <feTurbulence type="fractalNoise" baseFrequency='0.88' result='noise' numOctaves="5" />
    <feDiffuseLighting in='noise' lighting-color='#303030' surfaceScale='2'>
      <feDistantLight azimuth='45' elevation='60' />
    </feDiffuseLighting>
  </filter>
  <filter id="background_secondary" x="0%" y="0%" width="100%" height="100%">
    <feTurbulence type="fractalNoise" baseFrequency='0.88' result='noise' numOctaves="5" />
    <feDiffuseLighting in='noise' lighting-color='#424242' surfaceScale='2'>
      <feDistantLight azimuth='45' elevation='60' />
    </feDiffuseLighting>
  </filter>
  <filter id="text_primary" filterUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
    <feTurbulence id="turbulence" type="fractalNoise" baseFrequency="0.03" numOctaves="1" />
    <feDisplacementMap in="SourceGraphic" scale="10"></feDisplacementMap>
  </filter>
  <filter id="text_secondary" filterUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
    <feTurbulence id="turbulence" type="fractalNoise" baseFrequency="0.03" numOctaves="1" />
    <feDisplacementMap in="SourceGraphic" scale="10"></feDisplacementMap>
  </filter>
</svg> -->

<!-- [svg_filter]="background_primary" -->
<!-- [svg_filter]="background_secondary" -->
