.list {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    margin: 12px;

    .item {
        min-width: 170px;
        height: 40px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 10px 20px;

        .key {
            color: rgba(255, 255, 255, .34);
            pointer-events: none
        }

        .icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
        }

        .value {
        }
    }
    @media screen and (min-width: 480px) and (max-width: 720px) {
      width: 70vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 0px) and (max-width: 480px) {
      width: 60vw;
      display: grid;
      grid-template-columns:  1fr;
      .item{
        width: 100%;
        min-width: auto;
      }
    }
}


