<div class="warp">
  <div class="list">
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false"  class="item" (click)="close();togglePage2()">
          <mat-icon *ngIf="false">radio_button_unchecked</mat-icon>
        <mat-icon *ngIf="true">radio_button_checked</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false" class="item" (click)="close();chaptersThumbnail.open()">
      <mat-icon>subject</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false" class="item" (click)="close();togglePage()">
      <mat-icon>swap_horiz</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false" class="item" (click)="close();doublePageThumbnail.open()">
      <mat-icon>grid_view</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="true" cdkFocusInitial class="item" (click)="close();back()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false" class="item" (click)="close();onePageThumbnailMode3.open()">
      <mat-icon>view_comfy</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false" class="item" (click)="close();OpenComicsDetail()">
        <mat-icon>info</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false" class="item" (click)="close();openReaderSettings($event)">
      <mat-icon>settings</mat-icon>
    </button>
   <button mat-icon-button [attr.region]="'kyboard_toolbar_item'" [attr.select]="false" class="item" (click)="close();isFullChange()">
      <mat-icon *ngIf="isfullscreen">fullscreen_exit</mat-icon>
        <mat-icon *ngIf="!isfullscreen">fullscreen</mat-icon>
    </button>
  </div>
</div>
