<div class="warp">
  <div class="title">
    关于软件
  </div>

  <div class="list">
    <div class="item">
      <div class="name">
        已使用缓存空间{{this.size}}
      </div>
      <button mat-button>清除</button>
    </div>
    <div class="item">
      <div class="name">
        软件版本
      </div>
      <button mat-button [disabled]="true">2.01</button>
    </div>
    <div class="item">
      <div class="name">
        插件版本
      </div>
      <button mat-button [disabled]="true">2.01</button>
    </div>

    <div class="item">
      <div class="name">
        github
      </div>
      <button mat-button>打开</button>
    </div>
    <div class="item">
      <div class="name">
        赞助作者
      </div>
      <button mat-button>赞助</button>
    </div>
  </div>
</div>
<!-- https://github.com/dengdeng123ni/gamepad-and-comics-v3/ -->
