<div class="warp">
  <div class="title" [attr.svg_filter]="'text_secondary'">
    {{'关于软件' | translate}}
  </div>

  <div class="list">
    <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
        {{'已使用缓存空间' | translate}}{{this.size}}
      </div>
      <button mat-button (click)="del()" [attr.region]="'about_software_item'" [attr.select]="'true'" [attr.svg_filter]="'text_primary'">{{'清除'|translate}}</button>
    </div>
    <!-- <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
        软件版本
      </div>
      <button mat-button [disabled]="true" [attr.svg_filter]="'text_primary'">2.01</button>
    </div>
    <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
        插件版本
      </div>
      <button mat-button [disabled]="true" [attr.svg_filter]="'text_primary'" >2.01</button>
    </div> -->
    <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
        {{'强制更新版本' | translate}}
      </div>
      <button mat-button [attr.svg_filter]="'text_primary'" [attr.region]="'about_software_item'" (click)="update222()"> {{'更新' | translate}}</button>
    </div>
    <!-- <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
        {{'交流群' | translate}} 639294484
      </div>
      <button mat-button (click)="open3()" [attr.svg_filter]="'text_primary'"> {{'打开' | translate}}</button>
    </div> -->
    <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
        {{'github' | translate}}
      </div>
      <button mat-button (click)="opeo()" [attr.region]="'about_software_item'" [attr.svg_filter]="'text_primary'"> {{'打开' | translate}}</button>
    </div>
    <div class="item">
      <div class="name" [attr.svg_filter]="'text_secondary'">
        {{'赞助作者' | translate}}
      </div>
      <button mat-button (click)="open2()" [attr.region]="'about_software_item'" [attr.svg_filter]="'text_primary'"> {{'赞助' | translate}}</button>
    </div>
  </div>
</div>
<!-- https://github.com/dengdeng123ni/gamepad-and-comics-v3/ -->
