<div class="warp">
  <button [matTooltipShowDelay]="333" [matTooltip]="'返回'| translate" mat-icon-button [attr.svg_filter]="'text_primary'" matTooltipPosition="below" class="icon" id="back" [attr.region]="'back'" (click)="back($event)">
    <mat-icon >chevron_left</mat-icon></button>
  <button [matTooltipShowDelay]="333" [matTooltip]="'继续'| translate" [disabled]="!data.is_init_free"  mat-button [attr.svg_filter]="'text_primary'" [attr.region]="'continue'" id="continue" [attr.select]="true" [attr.default]="true"
    (click)="continue()" cdkFocusInitial>
    {{'继续'| translate}}
  </button>
</div>
