
<h1 mat-dialog-title style="    display: flex;
margin-top: 20px;">服务器 <a style="    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;" href="www.baidu.com" mat-icon-button><mat-icon style="    height: 18px;
  width: 18px;
  font-size: 18px;
  padding-top: 0px;">help</mat-icon></a></h1>
<div mat-dialog-content style="padding-bottom: 0;">
  <div class="form">
    <mat-form-field class="example-full-width">
      <mat-label>名称</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>地址</mat-label>
      <input matInput [(ngModel)]="src" required>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions style="    justify-content: end;">
  <button mat-button mat-dialog-close [attr.region]="'reset_reading_progress'" [matTooltipShowDelay]="3000"
  [matTooltip]="i18n.config.no" (click)="close()">关闭</button>
  <button mat-button cdkFocusInitial [attr.region]="'reset_reading_progress'" [matTooltipShowDelay]="3000"
  [matTooltip]="i18n.config.yes" [attr.select]="true" (click)="on()">添加</button>
</div>
<!-- <div class="warp"></div> -->
