<div style="display: flex;">
  <div class="code" *ngIf="text" style="background-color: #303030;padding: 12px;overflow: auto;height: 540px;max-width: 540px;">
    <pre><code class="html">{{text}}</code>
    </pre>
    <!-- <div>脚本</div> -->
  </div>
  <div class="warp">
    <div class="title" style="
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    ">
    <button mat-button *ngFor="let n of bbb" (click)="on3(n)" cdkFocusInitial [attr.svg_filter]="'text_primary'" class="name" style="cursor: pointer;"   [attr.region]="'item'" >
      {{n.name}}
    </button>
    <button mat-button [attr.svg_filter]="'text_primary'" class="name" style="cursor: pointer;" [attr.menu_key]="'pulg_javascript_add'"  [attr.region]="'item'" (click)="onMenu($event)">
      <mat-icon>add</mat-icon>
      添加
    </button>
    </div>
    <mat-divider></mat-divider>
    <div class="list" *ngIf="type=='load'">
      <div class="box"  *ngFor="let n of list;let index=index">
        <div class="left">
          {{n.name}}
        </div>
        <div class="right" style="display: flex;">
          <button mat-button class="item1" style="width: 60px;" [attr.region]="'item'"
          [attr.select]="false" (click)="preview(n.url)">
            <div class="name" [attr.svg_filter]="'text_primary'">
               {{'预览'|translate}}
            </div>
          </button>
          <button mat-button class="item1" style="width: 60px;" [attr.region]="'item'"
          [attr.select]="false" (click)="del(n.url)">
            <div class="name" [attr.svg_filter]="'text_primary'">
               {{'下载'|translate}}
            </div>
          </button>
          <button mat-button class="item1" style="width: 60px;" [attr.region]="'item'"
          [attr.select]="false" (click)="del(n.url)">
            <div class="name" [attr.svg_filter]="'text_primary'">
               {{'删除'|translate}}
            </div>
          </button>
        </div>
      </div>

    </div>
    <div class="list" *ngIf="type=='github'">
      <div class="box"  *ngFor="let n of list2;let index=index">
        <div class="left">
          {{n.name}}
        </div>
        <div class="right" style="display: flex;">
          <button mat-button class="item1" style="width: 60px;" [attr.region]="'item'"
          [attr.select]="false" (click)="preview(n.download)">
            <div class="name" [attr.svg_filter]="'text_primary'">
               {{'预览'|translate}}
            </div>
          </button>
          <button mat-button class="item1" style="width: 60px;" [attr.region]="'item'"
          [attr.select]="false" (click)="loadJs(n.download,n.name)">
            <div class="name" [attr.svg_filter]="'text_primary'">
               {{'加载'|translate}}
            </div>
          </button>
        </div>
      </div>

    </div>

  </div>


</div>
