<div class="warp">
  <div class="title" style="display: flex;
  justify-content: space-between;
  align-items: center;">
    <span>全部脚本</span>
    <button mat-icon-button style="zoom: 0.7;">
      <mat-icon>help</mat-icon>
    </button>
  </div>
  <div class="list">
    <div class="box"  *ngFor="let n of list;let index=index">
      <div class="name" style="cursor: pointer;" (click)="on(n)">
        {{n.name}}
      </div>
      <button mat-button class="item" style="width: 60px;" (click)="del(n.url)">
        <div class="name">
           删除
        </div>
      </button>
    </div>

  </div>
  <button mat-button class="item" (click)="add()" cdkFocusInitial>
    <mat-icon class="icon">add</mat-icon>
    <div class="name">
       脚本
    </div>
  </button>
</div>
