<div style="height: 12px;width: 100%;"></div>
<div style="margin: 0 12px;" *ngIf="!is_exist_window_gh_fetch">
  <button mat-button [disabled]="true">{{'检测到您当前未启用本站专用浏览器插件。为获得更流畅的体验，请下载并启用该插件。'|translate}}</button>
  <button mat-button (click)="on()" [attr.region]="'page_item'">{{'下载插件'|translate}}</button>
</div>
<div style="margin: 0 12px;" *ngIf="!is_first_settngs_language">
  <button mat-button [disabled]="true">{{'检测到您当前未设置过语言环境。是否需要重新设置当前语言环境。'|translate}}</button>
  <button mat-button (click)="on2()" [attr.region]="'page_item'">{{'设置'|translate}}</button>
</div>

<button mat-button class="warp"  [disabled]="true">
  <div class="title" style="font-size: 18px;">
    游戏手柄与漫画
  </div>
  <div class="author" style="text-align: right;">
    dengdeng123ni
  </div>
</button>
