img{
  width: 100%;
  height: auto;
}

img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: ' ';
  background-size: cover;
  background: #303030
}

img[objectFit='cover']{
  object-fit: cover;
  object-position: center;
}

img[objectFit='contain']{
  object-fit: contain;
  object-position: center;
}

