:host ::ng-deep {

  #advanced_search {
    display: flex;
    flex-direction: column;
    width: 256px;
    padding: 12px;
    background: #424242;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 28px);
    border-radius: 4px;

    .icon {
      padding: 0;
      width: 30px;
      height: 30px;

      .mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .textarea {
    .mat-mdc-form-field-infix {
      width: 224px;

    }

    .mdc-text-field--filled.mdc-text-field--no-label .mdc-text-field__input {
      height: 96px !important;
    }
  }

  [matformfieldlineripple] {
    display: none;
  }


  .mat-mdc-text-field-wrapper {
    border-radius: 4px;
  }
.tagv1{
  .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-left: 0px;
  }
}



  .select {
    .mat-mdc-form-field-infix {
      padding: 8px 0;
      min-height: 25px;
    }
  }

  .mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: start;
  }

  .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
    display: flex;
    width: 100%;
  }

  @media screen and (min-width: 0px) and (max-width: 480px) {
    #advanced_search {
      width: calc(100% - 24px);
    }
    .mat-mdc-form-field{
      width: 100%;
    }
    .mat-mdc-form-field-infix {
      width: 100%;

    }
  }

}
