<div class="head" *ngIf="!data.is_edit">

  <div class="choice" *ngIf="type=='single'" [attr.justify_content]="!query.name">
    <div class="title" [attr.svg_filter]="'text_secondary'" style="color:rgba(255,255,255,.34)" *ngIf="query.name">
      {{query.name}}</div>
  </div>
  <div class="choice" *ngIf="type=='choice'" [attr.justify_content]="!query.name">
    <div class="title" [attr.svg_filter]="'text_secondary'" style="color:rgba(255,255,255,.34)" *ngIf="query.name">
      {{query.name}}</div>
    <div class="list">
      <button [attr.region]="'comics_option'" mat-button *ngFor="let c of query.list;let index=index" class="item"
        [attr.svg_filter]="query.default_index==index?'text_accent':'text_primary'" [attr._id]="c.index"
        [attr.selected]="query.default_index==index" [attr.current]="false" (click)="on(index)">
        {{c.name}}
      </button>
    </div>
  </div>
  <div class="multipy" *ngIf="type=='multipy'">
    <div class="list" *ngFor="let c of query.list;let c_index=index">
      <div class="title" style="color:rgba(255,255,255,.34)">{{c.name}}</div>
      <button [attr.region]="'comics_option'" mat-button *ngFor="let n of c.tag;let n_index=index"
        (click)="on2($event,c,c_index)" class="item" [attr.current]="n.index==c.index">
        {{n.name}}
      </button>
    </div>
  </div>
  <div class="choice" *ngIf="type=='local_cache'">
    <div class="title" [attr.svg_filter]="'text_secondary'" style="color:rgba(255,255,255,.34)">缓存</div>
  </div>
  <div class="choice" *ngIf="type=='history'">
    <div class="title" [attr.svg_filter]="'text_secondary'" style="color:rgba(255,255,255,.34)">历史记录</div>
  </div>
  <div class="choice" *ngIf="type=='temporary_file'">
    <div class="title" [attr.svg_filter]="'text_secondary'" style="color:rgba(255,255,255,.34)">全部漫画</div>
  </div>
</div>
<div class="edit" *ngIf="data.is_edit"
  style="display: flex;justify-content: space-between;margin: 12px 22px 0;align-items: center; height: 36px;">
  <div class="left" style="color: rgba(255, 255, 255, 0.34);font-size: 16px;">
    <span> 已选择 {{selected_length}} 个</span>
  </div>
  <div class="right">
    <mat-checkbox [attr.region]="'comics_item'" [attr.type]="'checkbox'" style="margin-right: 24px;height: 36px;
    line-height: 36px;" [(ngModel)]="is_all" (change)="all()">全选</mat-checkbox>
    <button mat-flat-button [attr.region]="'comics_item'" style="margin-right: 12px;height: 36px;
    line-height: 36px;" [disabled]="!selected_length" (click)="download()">下载</button>
    <button mat-flat-button [attr.region]="'comics_item'" style="margin-right: 12px;height: 36px;
    line-height: 36px;" [disabled]="!selected_length" (click)="cache()">缓存</button>
    <button mat-flat-button [attr.region]="'comics_item'" style="margin-right: 12px;height: 36px;
    line-height: 36px;" [disabled]="!selected_length" (click)=" DropDownMenuOpen()">数据</button>
    <button mat-flat-button [attr.region]="'comics_item'" style="height: 36px;
    line-height: 36px;" (click)="closeEdit()">完成</button>
  </div>

</div>


<div class="warp" >
  <div class="grid" #listbox [attr.size]="'middle'" [attr.type]="'list'" [attr.section]="'comics_list'"
    (click)="on_list($event)">

    <div *ngFor="let n of list;let index=index" style="width: 100%;height: 100%;">
      <button class="item" mat-button  [attr._id]="n.id" [attr.index]="index"
      [attr.region]="'comics_item'" [attr.default]="n.id==data.currend_read_comics_id"
      [attr.select]="n.id==data.currend_read_comics_id" [matTooltipShowDelay]="1000" [matTooltip]="n.title"
      [attr.content_menu_key]="'comics_item'" [attr.content_menu_value]="n.id" [attr.multiple]="n.selected">
      <div class="img" style="width: 108px;min-width: 108px;">
        <img [attr.width]="720" [attr.height]="960" style="width: 100%;
        height: auto;opacity: 0;">
        <app-image [src]="n.cover" style="position: absolute;" />
        <div class="mezzanine"></div>
      </div>
      <div class="info" style="
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;position: relative;width: 100%;">
        <div class="title" [attr.svg_filter]="'text_primary'" [attr.size]="n.title.length>20" [attr.href]="n.href" (click)="on($event)">{{n.title}}</div>
        <div class="author" (click)="on($event)">
          <div style="display: inline;" class="item1" *ngFor="let item of author" style="color: rgba(232, 230, 227, 0.56);" (click)="on($event)">
            <span class="name" [attr.svg_filter]="'text_secondary'" [attr.href]="item.href">{{item.name}}</span>
            <span class="dividing">,</span>
          </div>
        </div>
        <div class="styles" style="display: flex;">
          <div style="display: inline;" class="item1" *ngFor="let item of styles" style="color: rgba(232, 230, 227, 0.34);"  (click)="on($event)">
            <span class="name" [attr.svg_filter]="'text_secondary'" [attr.href]="item.href">{{item.name}}</span>
            <span class="dividing">,</span>
          </div>
        </div>
        <div class="styles" style="display: flex;    position: absolute;
        left: 0px;
        top: 0;">
          <div style="display: inline;" class="item1" *ngFor="let item of author" style="color: rgba(232, 230, 227, 0.34);"  (click)="on($event)">
            <span class="name" style="font-size: 18px;" [attr.svg_filter]="'text_secondary'" [attr.href]="item.href">{{index+1}}</span>
            <span class="dividing">,</span>
          </div>
        </div>


        <div class="styles" style="display: flex;    position: absolute;
        left: 0px;
        bottom: 0;">
          <div style="display: inline;" class="item1" *ngFor="let item of author" style="color: rgba(232, 230, 227, 0.34);"  (click)="on($event)">
            <span class="name" style="font-size: 14px;" [attr.svg_filter]="'text_secondary'" [attr.href]="item.href">misc</span>
            <span class="dividing">,</span>
          </div>
        </div>

        <!-- <div class="intro" [attr.svg_filter]="'text_secondary'">
          外甥敬文探访医院，见到了从17年的昏迷状态中苏醒过来的舅舅，并目睹舅舅使出了令人惊异的魔法。
          ——没错，舅舅是从异世界回来的穿越者！
        </div> -->
      </div>

      <mat-checkbox class="checkbox" [color]="'primary'" *ngIf="data.is_edit" [(ngModel)]="n.selected"></mat-checkbox>
    </button>
    <mat-divider></mat-divider>
    </div>
  </div>
</div>
