
<div class="warp">
  <div class="img">
    <app-image loading="lazy"[src]="info.cover" alt="" />
  </div>
  <div class="right">
    <div class="info">
      <div class="title">{{info.title}}</div>
      <div class="author" (click)="on($event)">
        <div class="item" *ngFor="let item of info.author" (click)="on($event)">
          <span class="name" [attr.href]="item.href">{{item.name}}</span>
          <span class="dividing">,</span>
        </div>
      </div>
      <div class="styles" *ngIf="info.styles">
        <div class="item" *ngFor="let item of info.styles" (click)="on(item.href)">
          <span class="name">{{item.name}}</span>
          <span class="dividing">,</span>
        </div>
      </div>
      <div class="intro">
        {{info.intro}}
      </div>
    </div>
  </div>
</div>
