.warp{
  // width: 70vw;
  height: 70vh;
  padding: 12px;
}
.title{

}
.list{
  .item{
    display: flex;
    align-items: center;
    justify-content: start;
    .left{
      opacity: 0.34;
      width: 256px;
    }
    .right{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 368px;
    }
  }
}
