<div id="gamepad_reader_circle_toolbar" (click)="close()">
  <div class="circularity_toolabr">
    <!-- <div class="outer">
      <div class="outer-wire"></div>
      <div class='outer-select'>
        <div class='triangle' (click)="on(index)">
        </div>
      </div>
      <div class="outer-wire" style="transform: rotate(30deg)"></div>
      <div class="outer-wire" style="transform: rotate(60deg)"></div>
      <div class="outer-wire" style="transform: rotate(90deg)"></div>
      <div class="outer-wire" style="transform: rotate(120deg)"></div>
      <div class="outer-wire" style="transform: rotate(150deg)"></div>
      <div class="outer-select"></div>
      <mat-icon class="icon icon-1" style="left: 29px;top: 30px;">settings</mat-icon>
    </div> -->
    <div class="inner">
      <div class='inner-select' style="transform: rotate(0deg);">
        <div class='inner-triangle'>
        </div>
      </div>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.all_chapters" class="icon icon-1" [attr._id]="'handel_toolabr_center_8'"
        [attr.region]="'handel_toolabr_center'" [attr.select]="true" (click)="section.open()">
        <mat-icon>subject</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.thumbnail" class="icon icon-2" [attr._id]="'handel_toolabr_center_7'"
        [attr.region]="'handel_toolabr_center'" (click)="doublePageThumbnail.open({id:current.comics.chapter.id,index:current.comics.chapter.index})">
        <mat-icon>grid_view</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.thumbnail" class="icon icon-3" [attr._id]="'handel_toolabr_center_6'"
        [attr.region]="'handel_toolabr_center'" (click)="OpenThumbnailSelect($event)">
        <mat-icon>filter</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.thumbnail" class="icon icon-4" [attr._id]="'handel_toolabr_center_5'"
        [attr.region]="'handel_toolabr_center'" (click)="OpenToolSelect($event)">
        <mat-icon>home_repair_service</mat-icon>
      </button>
      <!-- <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.thumbnail" class="icon icon-2" [attr._id]="'handel_toolabr_center_7'"
        [attr.region]="'handel_toolabr_center'" (click)="left.isToggle()">
        <mat-icon style="transform: rotate(180deg);">view_sidebar</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.thumbnail" class="icon icon-3" [attr._id]="'handel_toolabr_center_6'"
        [attr.region]="'handel_toolabr_center'" (click)="slideBottom.isToggle()">
        <mat-icon style="transform: rotate(90deg) scale(1.2) rotateY(36deg);">view_sidebar</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.thumbnail" class="icon icon-4" [attr._id]="'handel_toolabr_center_5'"
        [attr.region]="'handel_toolabr_center'" (click)="thumbnail.open()">
        <mat-icon>view_comfy</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.reading_time" class="icon icon-5" [attr._id]="'handel_toolabr_center_4'"
        [attr.region]="'handel_toolabr_center'" (click)="readTime.isToggle()">
        <mat-icon>schedule</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.reading_mode" class="icon icon-6" [attr._id]="'handel_toolabr_center_3'"
        [attr.region]="'handel_toolabr_center'" (click)="on($event)">
        <mat-icon>chrome_reader_mode</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.settings" class="icon icon-7" [attr._id]="'handel_toolabr_center_2'"
        [attr.region]="'handel_toolabr_center'" (click)="openSettings()">
        <mat-icon>settings</mat-icon>
      </button> -->
      <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
        [matTooltip]="i18n.config.insert_blank_page" class="icon icon-8" [attr._id]="'handel_toolabr_center_1'"
        [attr.region]="'handel_toolabr_center'" (click)="insertPage()">
        <mat-icon>insert_page_break</mat-icon>
      </button>
    </div>
  </div>
  <div class="list gamepad_reader_circle_toolbar_left">
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.first_page_cover" class="icon" (click)="firstPageCoverChange()"
      [attr._id]="'handel_toolabr_left_1'" [attr.region]="'handel_toolabr_left'">
      <mat-icon *ngIf="!current.comics.isFirstPageCover">
        radio_button_unchecked</mat-icon>
      <mat-icon *ngIf="current.comics.isFirstPageCover">
        radio_button_checked</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.reading_mode" class="icon" (click)="modeChange()" [attr.region]="'handel_toolabr_left'">
      <mat-icon *ngIf="config.mode==1">looks_one</mat-icon>
      <mat-icon *ngIf="config.mode==2">looks_two</mat-icon>
      <mat-icon *ngIf="config.mode==3||config.mode==5">looks_3</mat-icon>
      <mat-icon *ngIf="config.mode==4">looks_4</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay" [matTooltip]="i18n.config.rotation"
      mat-icon-button class="icon" (click)="imageRotation()" [disabled]="!(config.mode==1||config.mode==4)"
      [attr.region]="'handel_toolabr_left'">
      <mat-icon>screen_rotation</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.insert_blank_page" class="icon" (click)="insertPage()"
      [attr.region]="'handel_toolabr_left'" [disabled]="!(config.mode==1||config.mode)">
      <mat-icon>insert_page_break</mat-icon>
    </button>
    <button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.separate_page" [attr.region]="'handel_toolabr_left'" mat-icon-button class="icon"
      (click)="separatePage()" [disabled]="!(config.mode==1)">
      <mat-icon>call_split</mat-icon>
    </button>
    <button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.merge_page" [attr.region]="'handel_toolabr_left'" mat-icon-button class="icon"
      (click)="mergePage()" [disabled]="!(config.mode==1)">
      <mat-icon>merge</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.delete" class="icon" [attr._id]="'handel_toolabr_left_delete'"
      (click)="openDeleteMenu($event)" [attr.region]="'handel_toolabr_left'"
      [disabled]="!(config.mode==1||config.mode==4)">
      <mat-icon>delete</mat-icon>
    </button>
    <!-- <mat-divider></mat-divider>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.thumbnail" class="icon" (click)="thumbnailBottom.isToggle()"
      [attr.region]="'handel_toolabr_left'">
      <mat-icon>minimize</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.export_pdf" class="icon" (click)="downloadFile('PDF')"
      [attr.region]="'handel_toolabr_left'">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.export_ppt" class="icon create_pdf" (click)="downloadFile('PPT')"
      [attr.region]="'handel_toolabr_left'">
      <mat-icon>local_parking</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.export_image" class="icon" (click)="mergeImages()"
      [attr.region]="'handel_toolabr_left'">
      <mat-icon>image</mat-icon>
    </button> -->
  </div>
  <div class="list gamepad_reader_circle_toolbar_right">
    <button cdkFocusInitial matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.full_screen" mat-icon-button class="icon"
      (click)="isfullscreen?isFullChange('window'):isFullChange('full_screen')" [attr.region]="'handel_toolabr_right'"
      [attr._id]="'handel_toolabr_right_1'">
      <mat-icon *ngIf="isfullscreen">fullscreen_exit</mat-icon>
      <mat-icon *ngIf="!isfullscreen">fullscreen</mat-icon>
    </button>
    <button mat-icon-button class="icon" matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.hide_cursor" (click)="cursorChange();" [attr.region]="'handel_toolabr_right'">
      <mat-icon>play_disabled</mat-icon>
    </button>
    <button mat-icon-button class="icon" matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.close_the_gamepad" (click)="handelClose();GamepadLeftCircleToolbar.close()"
      [attr.region]="'handel_toolabr_right'">
      <mat-icon>videogame_asset_off</mat-icon>
    </button>
  </div>
  <!-- <div class="name">全屏</div> -->
</div>
<div class="fixed" id="reader_toolbar_menu_1" (menuClosed)="closeMenu()" [matMenuTriggerFor]="menu"
  [matMenuTriggerData]="{data:menuObj.list,type:menuObj.type}"></div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-name="data" let-type="type">
    <div *ngIf="type=='delete'">
      <button *ngFor="let item of name;let index=index" [id]="item.id" [attr._id]="'handel_toolabr_menu_'+(index+1)"
        [attr.region]="'handel_toolabr_menu'" mat-menu-item class="menu_item" (mouseover)="mouseoverDeleteMenu(item.id)"
        (mouseout)="mouseoutDeleteMenu(item.id)" (click)="deleteImage(item.id)">
        {{item.name}}
      </button>
    </div>
    <div *ngIf="type=='list'" style="max-height: 40vh;">
      <button *ngFor="let item of name;let index=index" mat-menu-item class="menu_item"
        (click)="onListMenuItemClick(item.id)">
        {{item.title}}
      </button>
    </div>
  </ng-template>
</mat-menu>
