<div class="list">
  <button mat-button class="title" id="collect_first" (click)="AddServer.open()">{{i18n.config.comics}}</button>
  <button mat-button class="item" [attr.region]="'list_menu_item'" [attr.selected]="current.selected=='all'" (click)="on($event,'all')">
    <mat-icon class="icon">photo_library</mat-icon>
    <div class="name">
      {{i18n.config.all}}
    </div>
  </button>
  <button mat-button class="item" [attr.region]="'list_menu_item'" [attr.selected]="current.selected=='local'" (click)="on($event,'local')">
    <mat-icon class="icon">subject</mat-icon>
    <div class="name">
      本地
    </div>
  </button>

  <!-- <div class="title" id="collect_first" style="margin-top: 12px;">订阅</div>
  <button mat-button class="item" [attr.region]="'list_menu_item'" [attr.selected]="'false'" (click)="on($event,'all')">
    <mat-icon class="icon">add</mat-icon>
    <div class="name">
      新建
    </div>
  </button> -->
  <div *ngFor="let item of config.list_menu_config.server;let index=index">
    <button mat-button class="title" id="collect_first" (click)="AddLocalServerPath.open()">{{item.name}}</button>
    <button *ngFor="let n of item.subscriptions" mat-button class="item" [attr.region]="'list_menu_item'" [attr.selected]="current.selected==n.id" (click)="on_local_server($event,item.src,n.id)">
      <mat-icon class="icon">share</mat-icon>
      <div class="name">
        {{n.name}}
      </div>
    </button>
    <!-- subscriptions -->
    <!-- <button mat-button class="item" [attr.region]="'list_menu_item'" [attr.selected]="'false'" (click)="on($event,'all')">
      <mat-icon class="icon">add</mat-icon>
      <div class="name">
        新建订阅
      </div>
    </button> -->
  </div>
  <!-- <button mat-button class="item" [attr.region]="'comics_item'"  (click)="on($event,'all')">
    <mat-icon class="icon">menu_book</mat-icon>
    <div class="name">
      阅读中
    </div>
  </button>
  <button mat-button class="item" [attr.region]="'comics_item'" (click)="on($event,'all')">
    <mat-icon class="icon">check_circle</mat-icon>
    <div class="name">
      已读完
    </div>
  </button>
  <button mat-button class="item" [attr.region]="'comics_item'" (click)="on($event,'all')">
    <mat-icon class="icon">picture_as_pdf</mat-icon>
    <div class="name">
      PDF
    </div>
  </button> -->
  <!-- <div class="title">
    我的收藏
  </div> -->
  <!-- <div class="item"

    tabIndex="1"
    *ngFor="let n of collect.list;let index=index;"
    (click)="onChange(n)">
    <mat-icon class="icon">subject</mat-icon>
    <div class="name truncate" *ngIf="!n.edit">
        {{n.name}}
    </div>
    <div style="margin-left: 8px;" *ngIf="n.edit">
        <input [(ngModel)]="n.name" (blur)="save()" [id]="'input_'+n.id" class="input" matInput>
    </div>
</div> -->
</div>
