.warp {
  display: flex;
  align-items: baseline;
  margin: 12px 22px;
  margin-bottom: 0;

  .title {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    letter-spacing: normal;
    margin-right: 12px;
    height: 36px;
    line-height: 36px;
  }

}
.choice[justify_content=true]{
  justify-content: center;
}
