<div class="warp">
  <div class="title" [attr.svg_filter]="'text_secondary'">
    主题
  </div>
  <div class="list">
    <button class="item" [attr.select]="true" [attr.region]="'item'" mat-button (click)="del()">
      <div class="name" [attr.svg_filter]="'text_primary'">
        <span>默认</span>
      </div>
    </button>
    <button [id]="'_'+n.id" (click)="on(index)" class="item" [attr.select]="false" [attr.region]="'item'"
      *ngFor="let n of list;let index=index" mat-button>
      <div class="name" [attr.svg_filter]="'text_primary'">
        <span> {{n.name}}</span>
      </div>
    </button>
  </div>
</div>
