


<mat-drawer-container autosize style="height: 100vh;background: transparent;">
  <mat-drawer [opened]="opened" mode="side" style="min-width: 224px;" id="scroll">
    <div class="menu">
      <div class="title">
        全部章节({{data.chapters.length}})
      </div>
      <div class="list">
        <button [matTooltipShowDelay]="3000" [matTooltip]="n.title" [id]="'_'+n.id" (click)="on2(n)" class="item"
          [attr.select]="false" [attr.region]="'double_page_thumbnail_item'"
          *ngFor="let n of data.chapters;let index=index" mat-button>
          <div class="name" [attr.read]="!!n.read" [attr.current]="n.id==chapter_id">
            <span> {{n.title}}</span>
            <mat-icon class="icon" *ngIf="data.is_locked&&n.is_locked">lock</mat-icon>
            <mat-icon class="icon" *ngIf="data.is_locked&&!n.is_locked">lock_open</mat-icon>
          </div>
        </button>
      </div>
    </div>



  </mat-drawer>
  <div class="content" style="position: relative;">
    <div class="switch_left_position">
      <div style="
          min-width: 32px;
          height: 72px;
          max-width: 32px;
          background: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        "  (click)="opened=!opened" [attr.opened]="opened" [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
        [matTooltipPosition]="'right'">
        <div class="switch_left">
          <div class="left"></div>
          <div class="right"></div>
        </div>
      </div>
    </div>
    <div class="edge_corner" style="right: 0px; top: 0px"  >
      <div class="button">
        <div class="triangle" style="clip-path: polygon(0 0, 100% 0%, 100% 100%);"    [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
          [matTooltipPosition]="'right'"></div>
      </div>
    </div>
    <div class="edge_corner" style="left: 0px; top: 0px">
      <div class="button">
        <div class="triangle" style="clip-path: polygon(0 0, 100% 0%, 0% 100%);"   [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
          [matTooltipPosition]="'right'"></div>
      </div>
    </div>
    <div class="edge_corner" style="left: 0px; bottom: 0px">
      <div class="button">
        <div class="triangle" style="clip-path:  polygon(0 0, 100% 100%, 0% 100%);"   [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
          [matTooltipPosition]="'right'"></div>
      </div>
    </div>
    <div class="edge_corner" style="right: 0px; bottom: 0px;">
      <div class="button">
        <div class="triangle" style="clip-path:polygon(0 100%, 100% 100%, 100% 0%);"  [matTooltipShowDelay]="300" [matTooltip]="'打开侧边栏'"
          [matTooltipPosition]="'right'"></div>
      </div>
    </div>

<div style="width: 100%;height: 100%;overflow: auto;">
  <div class="head" style=" margin: 0 24px;
  padding: 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, .34);
  flex-direction: row-reverse;
  border-radius: 4px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;">
        <div  >
          {{ data.chapters[this.chapter_index].title }}
        </div>
        <div class="toolbar">
          <mat-checkbox [attr.type]="'checkbox'" [attr.region]="'double_page_thumbnail_item'" (change)="change(chapter_id)" [(ngModel)]="is_first_page_cover" style="padding-right: 12px;">第一页是否封面</mat-checkbox>
        </div>
      </div>
  <div class="warp opacity-0" id="double_page_thumbnail" (click)="close()">
    <div class="list"  style="padding-top: 0;" [attr.page_order]="false" [attr.type]="'list'">
      <button
        mat-button
        *ngFor="let n of double_pages; let index = index"
        class="item"
        [attr.region]="'double_page_thumbnail_item'"
        [attr.select]="n.select"
        (click)="on(n)"
        [attr.content_menu_key]="'double_page_thumbnail_item'"
        [attr.content_menu_value]="index"
      >
        <div *ngIf="n.images.length == 2" class="double">
          <div class="img">
            <app-image
              [src]="n.images[0].img"
              [width]="n.images[0].width"
              loading="lazy"
              [height]="n.images[0].height"
              *ngIf="n.images[0]"
            />
            <div class="index">{{ n.images[0].index }}</div>
          </div>
          <div class="img">
            <app-image
              [src]="n.images[1].img"
              [width]="n.images[1].width"
              loading="lazy"
              [height]="n.images[1].height"
              *ngIf="n.images[1]"
            />
            <div class="index">{{ n.images[1].index }}</div>
          </div>
        </div>
        <div
          *ngIf="n.images.length == 1"
          class="single"
          [attr.page]="n.images[0].width < n.images[0].height ? 'p' : 'l'"
          [attr.first]="index == 0"
        >
          <div class="img">
            <app-image
              [src]="n.images[0].img"
              [width]="n.images[0].width"
              loading="lazy"
              [height]="n.images[0].height"
              *ngIf="n.images[0]"
            />
            <div class="index">{{ n.images[0].index }}</div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
    <!-- <div class="loading" style="position:absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    top: 80vh;
    display: flex;"  >
      <mat-progress-bar mode="indeterminate" value="30" style="width: 33vw;"></mat-progress-bar>
    </div> -->
  </div>
</mat-drawer-container>
