<div>
  <div class="title" style="
font-size: 18px;
height: 18px;
line-height: 18px;
padding: 16px;
padding-bottom: 8px;
color: rgba(255, 255, 255, 0.34);
display: flex;
justify-content: center;">
    模组上传工具
  </div>


  <div style="display: flex;">
    <div class="left">

      <div class="item">
        <button mat-button [disabled]="true">名称</button>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="data.title">
        </mat-form-field>
      </div>

      <div class="item">
        <button mat-button [disabled]="true">描述</button>
        <mat-form-field class="textarea">
          <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
      </div>

      <div class="item">
        <button mat-button [disabled]="true">本次更新说明</button>
        <mat-form-field class="textarea">
          <textarea matInput [(ngModel)]="data.changeNote"></textarea>
        </mat-form-field>
      </div>




    </div>
    <div class="right" style="width: 304px;">
      <div class="item">
        <button mat-button [disabled]="true">可见度</button>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">公开</mat-radio-button>
          <mat-radio-button value="2">私有</mat-radio-button>
        </mat-radio-group>

      </div>
      <div class="item">
        <button mat-button [disabled]="true">预览图片</button>

        <button mat-button
          style="width: 100%;  height: 160px; font-size: 48px;  border: 1px dashed rgba(255, 255, 255, 0.34);"
          (click)="openFile()">+</button>
        <button mat-button [disabled]="true">{{data.previewPath}}</button>
      </div>
      <div class="item" style="display: flex;">
        <button mat-button [disabled]="true">选择上传文件路径</button>
        <button mat-button (click)="openDirectory()">+</button>
        <button mat-button [disabled]="true">{{data.contentPath}}</button>
      </div>
    </div>

    <div>

    </div>
  </div>
  <div style="display: flex;justify-content: space-between;padding: 8px;">
    <div>
      提交此模组即表明您同意了<a href="https://steamcommunity.com/sharedfiles/workshoplegalagreement" target="_blank">创意工坊服务条款</a>
    </div>

    <button mat-button color="primary" (click)="save()">开始上传</button>
  </div>

</div>
