.warp{
  width: 230px;
  height: 250px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.title{
font-size: 22px;
margin-bottom: 5px;
}
