// @import 'swiper/css';
:root {
  --double-page-reader-v2-width: 100%;
  --reader-border-radius:0px;
}

.swiper {

  width: var(--double-page-reader-v2-width);
  height: 100vh;

  // overflow: hidden;
  transition: 0.5s all;
  // transform: scale(0.96);

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;

}


:host ::ng-deep {
  img {
    filter: url(#page);
    margin: auto 0;
  }

  img[direction=right] {
    border-top-left-radius: var(--reader-border-radius);
    border-bottom-left-radius: var(--reader-border-radius);
  }

  img[direction=left] {
    border-top-right-radius: var(--reader-border-radius);
    border-bottom-right-radius: var(--reader-border-radius);
  }
  img[direction=right][width=_100] {
    border-radius: var(--reader-border-radius);
    object-position:center !important;
  }
  img[direction=left][width=_100] {
    border-radius: var(--reader-border-radius);
    object-position:center !important;
  }
  [first_cover_background_color=transparent],[first_cover_background_color=default] {

    img[direction=right][is_standalone_page=true] {
      border-radius: var(--reader-border-radius);
    }

    img[direction=right][is_standalone_page=true] {
      border-radius: var(--reader-border-radius);
    }


  }

  // img[type=none]{
  //   filter: url(#background_primary);

  //   backdrop-filter: url(#background_primary);
  //   // opacity: 1 !important;
  // }
  // .swiper-slide {
  //   background: transparent;
  //   backdrop-filter: url(#background_primary);
  // }
  img[type=none] {
    background: #303030;
  }
}
