// @import 'swiper/css';
:root {
  --double-page-reader-v2-width: 100vw;
  --reader-border-radius:0px;
}

.swiper {

  width: var(--double-page-reader-v2-width);
  height: 100%;
  transition: 0.1s all;

}




:host ::ng-deep {

  img {
    filter: url(#page);
    display: flex;
    margin: auto 0;
    object-fit: contain;

  }

  .swiper-slide img:nth-child(1)  {
    width: 50%;
    height: 100%;
    object-position: right;
  }

  .swiper-slide img:nth-child(2) {
    width: 50%;
    height: 100%;
    object-position: left;
  }

  img[width=_100] {
    width: 100% !important;
    object-position:center !important;
  }
  [first_cover_background_color=transparent],[first_cover_background_color=default] {

    img[direction=right][is_standalone_page=true] {
      border-radius: var(--reader-border-radius);
    }

    img[direction=right][is_standalone_page=true] {
      border-radius: var(--reader-border-radius);
    }


  }


}
