@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./app/styles/index.scss";
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  background: #303030;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #424242;
  font-feature-settings: "tnum", "tnum";
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
}
.mat-mdc-button-touch-target {
  height: 100% !important;
  width: 100% !important;
}
.mat-mdc-menu-item {
  height: 30px !important;
  line-height: 30px !important;
  min-height: 30px !important;

  .mdc-list-item__primary-text {
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-size: 14px;
    font-weight: 400 !important;
  }
}

.menu_item {
  height: 30px !important;
  line-height: 30px !important;
  min-height: 30px !important;

  .mat-mdc-menu-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-size: 14px;
    font-weight: 400 !important;
  }
}
._comics_select_type{

}

._comics_select_type_bg{

}






// --------
._double_page_thumbnail {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;
  // backdrop-filter: blur(4px);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    // background: transparent;
    box-shadow: none !important;
  }
}


.opacity-0 {
  opacity: 0;
}
//
._section {
  .mat-bottom-sheet-container {
    width: 100vw;
  }
}


//

._side_bottom {
  .mat-bottom-sheet-container {
    // max-width: 100% !important;
    // border-radius: 0 !important;
    // padding: 0 !important;
    // height: 100%;
    // max-height: 100% !important;
  }
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}
app-image{
  display: block;
  position: relative;
}


[opacity_0]{
  filter: brightness(0) invert(1);
}
[opacity_0]::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: ' ';
  background-size: cover;
  background: #303030
}
.swiper-slide {
  background: #303030;
  display: flex;
  justify-content: center;
}
._loading_cover_bg{
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: brightness(0.5) blur(10px);

}
._loading_cover {
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none !important;
  // backdrop-filter: blur(4px);

  .mat-mdc-dialog-container .mdc-dialog__surface {
    // background: transparent;
    box-shadow: none !important;
    background: transparent;
  }
}



body[pattern=gamepad][locked_region=list],
body[pattern=gamepad][locked_region=detail],
body[pattern=gamepad][locked_region=reader],
body[pattern=gamepad][locked_region=chapters_thumbnail],
body[pattern=gamepad][locked_region=double_page_thumbnail],
body[pattern=gamepad][locked_region=gamepad_left_circle_toolbar],
body[pattern=gamepad][locked_region=menu],
body[pattern=gamepad][locked_region=one_page_mode1],
body[pattern=gamepad][locked_region=comics_type],
body[pattern=gamepad][locked_region=thumbnail_sidebar_left],
body[pattern=gamepad][locked_region=one_page_mode3],
body[pattern=gamepad][locked_region=kyboard_toolbar],
body[pattern=gamepad][locked_region=reader_config],
body[pattern=gamepad][locked_region=chapters_list],
body[pattern=gamepad][locked_region=reset_reading_progress],
body[pattern=gamepad][locked_region=export_settings],
body[pattern=gamepad][locked_region=chapter_unlock],

body[pattern=gamepad][locked_region=download_option]

{
  [region=item][select=true],
  [region=one_page_item][select=true],
  [region=comics_option][select=true],
  [region=comics_item][select=true],
  [region=chapter_item][select=true],
  [region=continue][select=true],
  [region=back][select=true],
  [region=double_page_thumbnail_item][select=true],
  [region=gamepad_toolabr_right][select=true],
  [region=menu_item][select=true],
  [region=comics_type_item][select=true],
  [region=one_page_thumbnail_mode2][select=true],
  [region=one_page_thumbnail_mode3][select=true],
  [region=kyboard_toolbar_item][select=true],
  [region=reader_config_item][select=true],
  [region=reset_reading_progress][select=true]

  {
    position: relative;

    &::after {
      @extend .default_frame;
    }
  }
}

body[pattern=gamepad][locked_region=content_menu]{

  [region=content_menu][select=true],
  [region=content_menu_submenu][select=true]
  {
    position: relative;

    &::after {
      @extend .default_frame;
    }
  }
}

.default_frame {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 0;
  border: 2px solid #ffffff57;
  border-radius: 4px;
  top: 0;
}

.item123,[region=item123]{
  position: relative;

    &::after {
      @extend .default_frame;
    }
}






.edge_corner{
  position: absolute;
  .button{
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;


   .triangle{
     transition: 0.3s all;
     // opacity: 0;
     min-width: 12px;
     height: 12px;
     max-width: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border-radius: 2px;
   }
   &:hover{
     .triangle{
       // opacity: 1;
       background: #c2185b;
       transform:scale(1.25);
     }

   }
  }
}

// [svg_filter=background_secondary]{
//   background: yellow !important;
// }
// [svg_filter=background_primary]{
//   background: #000000 !important;
// }
// [svg_filter=background_accent]{
//   background: #c2185b !important;
// }

// [svg_filter=text_primary]{
//   color: blue !important;
// }
// [svg_filter=text_secondary]{
//   color: red !important;
// }
// [svg_filter=text_accent]{
//   color: yellow !important;
// }

// [svg_filter=background_secondary]{
//   background: transparent !important;
//   backdrop-filter:url("#background_secondary");
// }
// [svg_filter=background_primary]{
//   background: transparent !important;
//   backdrop-filter:url("#background_primary");
// }
// [svg_filter=background_accent]{
// }
// .mat-bottom-sheet-container,.mdc-dialog__surface,.mat-mdc-menu-panel,.mat-drawer-inner-container{
//   @extend [svg_filter=background_secondary];
// }
