/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "./app/styles/index.scss";

@import "swiper/css";
@import "swiper/css/effect-cards";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #3c3c3c;
  font-feature-settings: "tnum", "tnum";
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
}

body[angle="none"] {

  div,
  img,
  button,
  span,
  a,
  mat-chip-option,
  mat-button-toggle-group,
  mat-button-toggle,
  mat-bottom-sheet-container,
  mat-slider {
    &::after {
      border-radius: 0 !important;
    }

    &::before {
      border-radius: 0 !important;
    }

    border-radius: 0 !important;
  }
}

// body {
//   ::-webkit-scrollbar {
//     height: 12px;
//     width: 12px;
//   }

//   ::-webkit-scrollbar:hover {
//     background: rgba(255, 255, 255, .1);
//     // border: 1px solid rgba(255, 255, 255, .2);

//   }
//   /* 两个滚动条交接处 -- x轴和y轴 */
//   ::-webkit-scrollbar-corner {
//     background-color: transparent;
//   }

//   /* 滚动条滑块 */
//   ::-webkit-scrollbar-thumb {
//     // border-radius: 10px;
//     // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//     background: #686868;

//   }

//   /* 滚动条轨道 */
//   ::-webkit-scrollbar-track {
//     // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//     // border-radius: 10px;
//     // background: #353535;
//   }

//   /* 滚动条两端按钮 */
//   ::-webkit-scrollbar-button {}
// }
