<div class="warp" style="padding: 12px;">
  <div class="title" [attr.svg_filter]="'text_secondary'">
    扩展安装说明
  </div>
  <div class="content">
    <div class="left">
      <button mat-icon-button [attr.svg_filter]="'text_primary'" [disabled]="true" style="     width: 184px;
      height: 184px;
      transform: scale(4.5);

  ">
        <mat-icon>extension</mat-icon>
      </button>
      <button mat-button [attr.region]="'item'"
      [attr.default]="true"
      [attr.select]="true" (click)="on()" [attr.svg_filter]="'text_primary'">下载插件</button>
    </div>
    <div class="right">
       <div class="list" [attr.svg_filter]="'text_secondary'">
        <div class="item" *ngFor="let n of list;let index=index">{{index+1}}.{{n}}</div>
       </div>
    </div>
  </div>

</div>
