<div id="app">
  <div>
    <div class="date-panel">
      <div class="cell-list week-list">
        <div class="cell-item"><span>日</span></div>
        <div class="cell-item"><span>一</span></div>
        <div class="cell-item"><span>二</span></div>
        <div class="cell-item"><span>三</span></div>
        <div class="cell-item"><span>四</span></div>
        <div class="cell-item"><span>五</span></div>
        <div class="cell-item"><span>六</span></div>
      </div>
      <div class="cell-list date-list">
        <div class="cell-item">
          <div class="date-cell"><span>26</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>27</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>28</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>29</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>30</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>31</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>1</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>2</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>3</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>4</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>5</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>6</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>7</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>8</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>9</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>10</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>11</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>12</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>13</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>14</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>15</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>16</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>17</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>18</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>19</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>20</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>21</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>22</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>23</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>24</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>25</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>26</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>27</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>28</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>29</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>30</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>1</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>2</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>3</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>4</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>5</span></div>
        </div>
        <div class="cell-item">
          <div class="date-cell"><span>6</span></div>
        </div>
      </div>
      <div class="mask" style="transform: translate(-229.5px, -250px); height: 700px;">
      </div>
    </div>
  </div>
</div>
