<div id="gamepad_reader_circle_toolbar">
  <div class="circularity_toolabr">
    <!-- <div class="outer">
      <div class="outer-wire"></div>
      <div class='outer-select'>
        <div class='triangle' (click)="on(index)">
        </div>
      </div>
      <div class="outer-wire" style="transform: rotate(30deg)"></div>
      <div class="outer-wire" style="transform: rotate(60deg)"></div>
      <div class="outer-wire" style="transform: rotate(90deg)"></div>
      <div class="outer-wire" style="transform: rotate(120deg)"></div>
      <div class="outer-wire" style="transform: rotate(150deg)"></div>
      <div class="outer-select"></div>
      <mat-icon class="icon icon-1" style="left: 29px;top: 30px;">settings</mat-icon>
    </div> -->
    <div class="inner">
      <div class='inner-select' style="transform: rotate(0deg);">
        <div class='inner-triangle'>
        </div>
      </div>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-1" [attr._id]="'gamepad_toolbar_center_8'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();comicsSettingsOpen()">
        <mat-icon>radio_button_checked</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-2" [attr._id]="'gamepad_toolbar_center_7'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();chaptersThumbnail.open()">
        <mat-icon>subject</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-3" [attr._id]="'gamepad_toolbar_center_6'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();togglePage()">
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-4" [attr._id]="'gamepad_toolbar_center_5'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();doublePageThumbnail.open()">
        <mat-icon>grid_view</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-5" [attr._id]="'gamepad_toolbar_center_4'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();onePageThumbnailMode3.open()">
        <mat-icon>view_comfy</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-6" [attr._id]="'gamepad_toolbar_center_3'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();OpenComicsDetail()">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-7" [attr._id]="'gamepad_toolbar_center_2'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();openReaderSettings($event)">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" class="icon icon-8" [attr._id]="'gamepad_toolbar_center_1'"
        [attr.region]="'gamepad_toolbar_center'" (click)="close();isFullChange()">
        <mat-icon *ngIf="isfullscreen">fullscreen_exit</mat-icon>
        <mat-icon *ngIf="!isfullscreen">fullscreen</mat-icon>
      </button>
    </div>
  </div>
  <!-- <div class="list gamepad_reader_circle_toolbar_left">

    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="'Language'" class="icon create_pdf" (click)="LanguageSettings.open()"
      [attr.region]="'gamepad_toolbar_left'" [attr._id]="'gamepad_toolbar_left_1'">
      <mat-icon>g_translate</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.about_the_software" class="icon" (click)="SoftwareInformation.open()"
      [attr.region]="'gamepad_toolbar_left'">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.settings" class="icon" (click)="openGlobalSettings($event)"
      [attr.region]="'gamepad_toolbar_left'">
      <mat-icon>settings_applications</mat-icon>
    </button>
  </div>
  <div class="list gamepad_reader_circle_toolbar_right">
    <button cdkFocusInitial matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.full_screen" mat-icon-button class="icon"
      (click)="isfullscreen?isFullChange('window'):isFullChange('full_screen')"
      [attr.region]="'gamepad_toolbar_right'" [attr._id]="'gamepad_toolbar_right_1'">
      <mat-icon *ngIf="isfullscreen">fullscreen_exit</mat-icon>
      <mat-icon *ngIf="!isfullscreen">fullscreen</mat-icon>
    </button>
    <button mat-icon-button class="icon" matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
      [matTooltip]="i18n.config.hide_cursor" (click)="cursorChange();"
      [attr.region]="'gamepad_toolbar_right'">
      <mat-icon>play_disabled</mat-icon>
    </button>
    <button mat-icon-button class="icon" matTooltipPosition="right" [matTooltipShowDelay]="i18n.tooltipShowDelay"
    [matTooltip]="i18n.config.close_the_gamepad" (click)="handelClose();GamepadLeftCircleToolbar.close()"
    [attr.region]="'gamepad_toolbar_right'">
    <mat-icon>videogame_asset_off</mat-icon>
    </button>
  </div> -->
  <!-- <div class="name">全屏</div> -->
</div>
