<div id="gamepad_reader_circle_toolbar">
  <div class="circularity_toolabr">
    <!-- <div class="outer">
      <div class="outer-wire"></div>
      <div class='outer-select'>
        <div class='triangle' (click)="on(index)">
        </div>
      </div>
      <div class="outer-wire" style="transform: rotate(30deg)"></div>
      <div class="outer-wire" style="transform: rotate(60deg)"></div>
      <div class="outer-wire" style="transform: rotate(90deg)"></div>
      <div class="outer-wire" style="transform: rotate(120deg)"></div>
      <div class="outer-wire" style="transform: rotate(150deg)"></div>
      <div class="outer-select"></div>
      <mat-icon class="icon icon-1" style="left: 29px;top: 30px;">settings</mat-icon>
    </div> -->
    <div class="inner">
      <div class='inner-select' style="transform: rotate(0deg);">
        <div class='inner-triangle'>
        </div>
      </div>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-1" [attr._id]="'gamepad_toolbar_center_8'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();chaptersFirstCoverSettingsOpen()">
        <mat-icon>radio_button_checked</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-2" [attr._id]="'gamepad_toolbar_center_7'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();chaptersThumbnail.open()">
        <mat-icon>subject</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-3" [attr._id]="'gamepad_toolbar_center_6'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();togglePage()">
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-4" [attr._id]="'gamepad_toolbar_center_5'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();doublePageThumbnail.open()">
        <mat-icon>grid_view</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-5" [attr._id]="'gamepad_toolbar_center_4'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();onePageThumbnailMode3.open()">
        <mat-icon>view_comfy</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-6" [attr._id]="'gamepad_toolbar_center_3'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();OpenComicsDetail()">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button mat-icon-button matTooltipPosition="right" class="icon icon-7" [attr._id]="'gamepad_toolbar_center_2'"
        [attr.region]="'gamepad_toolbar_center'"
        (click)="close();openReaderSettings($event)">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltipPosition="right" class="icon icon-8" [attr._id]="'gamepad_toolbar_center_1'"
        [attr.region]="'gamepad_toolbar_center'" (click)="close();isFullChange()">
        <mat-icon *ngIf="isfullscreen">fullscreen_exit</mat-icon>
        <mat-icon *ngIf="!isfullscreen">fullscreen</mat-icon>
      </button>
    </div>
  </div>
</div>
