<div class="warp" *ngIf="width>960">
  <div class="toolabr">
    <button mat-icon-button matTooltipPosition="below" [matTooltipShowDelay]="i18n.tooltipShowDelay" [matTooltip]="i18n.config.back" class="icon" (click)="back()" [attr.region]="'back'"> <mat-icon>chevron_left</mat-icon></button>
    <button mat-button  (click)="continue($event)" [matTooltipShowDelay]="3000" [matTooltip]="i18n.config.continue" [disabled]="comics.chapters.length==0" [attr.region]="'continue'" id="continue" [attr.select]="true" [attr.default]="true" >{{i18n.config.continue}}</button>
    <!-- matTooltipPosition="below" [matTooltipShowDelay]="i18n.tooltipShowDelay" [matTooltip]="comics.chapter.title"  -->
  </div>
  <div class="img" (click)="continue($event)" >
    <img loading="lazy" [src]="comics.cover.src" alt="">
  </div>
  <div class="info">
    <div class="title">{{comics.title}}</div>
    <div class="author">{{comics.author}}</div>
    <div class="intro">
      {{comics.intro}}
    </div>
  </div>
</div>
