<div class="warp  opacity-0" id="mode5" (click)="close()">
  <div class="list" [attr.page_order]="this.current.comics.pageOrder">
    <div *ngFor="let n of double_list;let index=index" class="item"
      [attr.select]="n.select">
      <div *ngIf="n.images.length==2" class="double">
        <div class="img">
          <img [id]="n.images[0].id" [attr.index]="n.images[0].index-1" [src]="n.images[0].img" [width]="n.images[0].width" loading="lazy" [height]="n.images[0].height"
            *ngIf="n.images[0]">
          <!-- <div class="index">{{n.images[0].index}}</div> -->
        </div>
        <div class="img">
          <img [id]="n.images[1].id" [attr.index]="n.images[0].index-1" [src]="n.images[1].img" [width]="n.images[1].width" loading="lazy" [height]="n.images[1].height"
            *ngIf="n.images[1]">
          <!-- <div class="index">{{n.images[1].index}}</div> -->
        </div>
      </div>
      <div *ngIf="n.images.length==1" class="single" [attr.page]="n.images[0].width<n.images[0].height?'p':'l'"
        [attr.first]="index==0">
        <div class="img">
          <img [id]="n.images[0].id" [attr.index]="n.images[0].index-1" [src]="n.images[0].img" [width]="n.images[0].width" loading="lazy" [height]="n.images[0].height"
            *ngIf="n.images[0]">
        </div>
        <div class="img" *ngIf="n.images[0].width<n.images[0].height?true:false">
          <img [src]="n.images[0].img" [width]="n.images[0].width" style="opacity: 0;" loading="lazy" [height]="n.images[0].height"  *ngIf="n.images[0]">
        </div>
      </div>
    </div>
  </div>
</div>
