<div style="display: flex;flex-direction: column;">

  <div class="warp" style="display: flex;flex-direction: column;">

    <div class="info">

      <button mat-button cdkFocusInitial style="    width: 100%;
    margin-bottom: 8px;">+订阅</button>
      <button mat-button style="    height: auto;
          padding: 0;" class="img" (click)="continue()">

        <img [attr.content_menu_key]="'comics_item'" [attr.content_menu_value]="info.id" class="_image" loading="lazy"
          [width]="224" [height]="298" [src]="info.cover" alt="" />
      </button>
      <div class="title" (click)="on({href:info.href})" [attr.region]="'comics_detail_item'" [attr.select]="'true'">
        {{info.title|translate}}</div>

      <div>

      </div>
      <div class="intro" style="white-space: pre-line;">
        {{info.intro | translate}}
      </div>
    </div>
  </div>

</div>